<div class="form">

  <div class="form-header">
    <h1>Добавление вм в статический пул {{data?.pool_name}}</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>
<!-- 
  <div class="form-message">
    <p>Удалить пул {{ data?.pool_name }} ?</p>
  </div> -->

  <!-- <label class="field">
    <mat-form-field>
      <mat-label *ngIf="pendingVms">Загрузка ...</mat-label>
      <mat-label *ngIf="vms.length && !pendingVms">Выберите свободные ВМ</mat-label>
      <mat-label *ngIf="!vms.length && !pendingVms">- нет виртуальных машин -</mat-label>
      <mat-select (selectionChange)="selectVm($event)" multiple="true">
        <mat-option *ngFor="let vm of vms" [value]="vm.id">
          {{vm.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </label> -->

  <div class="form-actions">
    <!-- <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="action-name">Удалить</span></button> -->
  </div>

</div>