<div class="details-popup">
  <div class="details-header">
    <div class="title"><fa-icon [icon]="['fas','desktop']" size="s" ></fa-icon><span class="name">Виртуальная машина <span>{{data?.vm?.verbose_name}}</span></span></div>
      <div class="btns-part">
        <button [mat-dialog-close]="true" class="btn-close-popup"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
      </div>
  </div>

  <div class="details-control-panel">
    <button (click)="addUser()" title="Назначить пользователя" class="btn-control"><fa-icon [icon]="['fas','plus-circle']"></fa-icon><fa-icon [icon]="['fas','user']"></fa-icon></button>
    <button (click)="removeUser()" title="Освободить от пользователя" class="btn-control"><fa-icon [icon]="['fas','trash-alt']"></fa-icon><fa-icon [icon]="['fas','user']"></fa-icon></button>

    <button (click)="action('start')" class="btn-control" title="Запуск">
      <fa-icon [icon]="['fas','play-circle']"></fa-icon>
    </button>

    <button (click)="action('suspend')" class="btn-control" title="Приостановить">
      <fa-icon [icon]="['fas','pause-circle']"></fa-icon>
    </button>

    <button (click)="action('shutdown')" class="btn-control" title="Выключение">
      <fa-icon [icon]="['fas','stop-circle']"></fa-icon>
    </button>

    <button (click)="action('reboot')" class="btn-control" title="Перезагрузка">
      <fa-icon [icon]="['fas','undo']"></fa-icon>
    </button>

    <button (click)="action('shutdown-force')" class="btn-control" title="Отключение питания">
      <fa-icon [icon]="['fas','power-off']"></fa-icon>
    </button>

    <button (click)="action('reboot-force')" class="btn-control" title="Горячая перезагрузка">
      <fa-icon [icon]="['fas','fire']"></fa-icon>
    </button>

    <button (click)="test()" title="Проверить нахождение в домене" class="btn-control">
      <fa-icon [class.rotation]="testing" [icon]="['fas','sync-alt']"></fa-icon><span class="name"> </span><fa-icon [icon]="['fas','folder']"></fa-icon>

      <fa-icon *ngIf="tested && connected" class="ad-status ad-success" [icon]="['fas','check']"></fa-icon>
      <fa-icon *ngIf="tested && !connected" class="ad-status ad-failed" [icon]="['fas','times-circle']"></fa-icon>

      <span class="ad-status-text" [class.ad-success]="connected" [class.ad-failed]="!connected" *ngIf="tested">{{ connected ? 'В домене' : 'Не в домене' }}</span>
    </button>
  </div>

  <div class="details-row">
    <ul class="details-menu">
      <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация"> <fa-icon [icon]="['fas','chart-bar']"></fa-icon><span class="name">Информация</span></li>
    </ul>

    <div class="details-slide">
      <div class="details-slide-header">
        <ng-container *ngIf="menuActive === 'info'">Информация о вм</ng-container>
      </div>
      <div class="details-slide-into">
        <ng-container *ngIf="data?.typePool === 'automated'">
          <vdi-table-into *ngIf="menuActive === 'info'" [item]="data?.vm" [collection]="collectionIntoVmAutomated"></vdi-table-into>
        </ng-container>

        <ng-container *ngIf="data?.typePool === 'static'">
          <vdi-table-into *ngIf="menuActive === 'info'" [item]="data?.vm" [collection]="collectionIntoVmStatic"></vdi-table-into>
        </ng-container>
      </div>
    </div>
  </div>
</div>
