<div class="details-popup">
  <div class="details-header">
    <div class="title"><fa-icon [icon]="['fas','desktop']" size="s" ></fa-icon><span class="name">Виртуальная машина <span>{{data?.vm?.verbose_name}}</span></span></div>
      <div class="btns-part">
        <button [mat-dialog-close]="true" class="btn-close-popup"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
      </div>
  </div>

  <div class="details-control-panel">
    <button (click)="addUser()" title="Назначить пользователя" class="btn-control"><fa-icon [icon]="['fas','plus-circle']"></fa-icon><fa-icon [icon]="['fas','user']"></fa-icon></button>
    <button *ngIf="data?.username" (click)="removeUser()" title="Освободить от пользователя" class="btn-control"><fa-icon [icon]="['fas','trash-alt']"></fa-icon><fa-icon [icon]="['fas','user']"></fa-icon></button>

    <button [mat-dialog-close]="true" *ngIf="data?.typePool === 'automated'" (click)="prepareVM()" title="Подготовить ВМ" class="btn-control">
      <fa-icon [icon]="['fas','suitcase']"></fa-icon><fa-icon [icon]="['fas','desktop']"></fa-icon>
    </button>

    <button (click)="action('start')" class="btn-control" title="Запуск">
      <fa-icon [icon]="['fas','play-circle']"></fa-icon>
    </button>

    <button (click)="action('suspend')" class="btn-control" title="Приостановить">
      <fa-icon [icon]="['fas','pause-circle']"></fa-icon>
    </button>

    <button (click)="action('shutdown')" class="btn-control" title="Выключение">
      <fa-icon [icon]="['fas','stop-circle']"></fa-icon>
    </button>

    <button (click)="action('reboot')" class="btn-control" title="Перезагрузка">
      <fa-icon [icon]="['fas','undo']"></fa-icon>
    </button>

    <button (click)="action('shutdown-force')" class="btn-control" title="Отключение питания">
      <fa-icon [icon]="['fas','power-off']"></fa-icon>
    </button>

    <button (click)="action('reboot-force')" class="btn-control" title="Горячая перезагрузка">
      <fa-icon [icon]="['fas','fire']"></fa-icon>
    </button>

    <button (click)="action('backup')" class="btn-control" title="Создать резервную копию">
      <fa-icon [icon]="['fas','clone']"></fa-icon>
    </button>

    <button (click)="test()" title="Проверить нахождение в домене" class="btn-control">
      <fa-icon [class.rotation]="testing" [icon]="['fas','sync-alt']"></fa-icon><span class="name"> </span><fa-icon [icon]="['fas','folder']"></fa-icon>

      <fa-icon *ngIf="tested && connected" class="ad-status ad-success" [icon]="['fas','check']"></fa-icon>
      <fa-icon *ngIf="tested && !connected" class="ad-status ad-failed" [icon]="['fas','times-circle']"></fa-icon>

      <span class="ad-status-text" [class.ad-success]="connected" [class.ad-failed]="!connected" *ngIf="tested">{{ connected ? 'В домене' : 'Не в домене' }}</span>
    </button>
  </div>

  <div class="details-row details-static">
    <ul class="details-menu">
      <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация"> <fa-icon [icon]="['fas','chart-bar']"></fa-icon><span class="name">Информация</span></li>
      <li (click)="routeTo('backups')" [class.active]="menuActive === 'backups'" title="Резервные копии"> <fa-icon [icon]="['fas','clone']"></fa-icon><span class="name">Резервные копии</span></li>
      <li (click)="routeTo('events')" [class.active]="menuActive === 'events'" title="События"> <fa-icon [icon]="['fas','comment']"></fa-icon><span class="name">События</span></li>
    </ul>

    <div class="details-slide">
      <div class="details-slide-header">
        <ng-container *ngIf="menuActive === 'info'">Информация о вм</ng-container>
        <ng-container *ngIf="menuActive === 'backups'">Резервные копии вм</ng-container>
        <ng-container *ngIf="menuActive === 'events'">События вм</ng-container>
      </div>

      <div class="details-slide-into">
        <ng-container *ngIf="menuActive === 'info'">
            <vdi-table-into *ngIf="data?.typePool === 'automated'" [item]="data?.vm" [collection]="collectionIntoVmAutomated"></vdi-table-into>
            <vdi-table-into *ngIf="data?.typePool === 'static'" [item]="data?.vm" [collection]="collectionIntoVmStatic"></vdi-table-into>
        </ng-container>

         <ng-container *ngIf="menuActive === 'backups'">
          <vdi-table-component cursor="true" [data]="data?.vm?.backups" [collection]="collectionBackups" (clickRowData)="clickRow($event)"></vdi-table-component>
        </ng-container>

        <ng-container *ngIf="menuActive === 'events'">
          <vdi-table-component class="table-paginator" [height]="'calc(100% - 30px)'" [data]="data?.vm?.events" [collection]="collectionEvents"></vdi-table-component>
          <vdi-pagination [count]="data?.vm?.count" [offset]="offset" (action)="toPage($event)"></vdi-pagination>
        </ng-container>
      </div>
    </div>
  </div>
</div>
