<div class="form">

  <div class="form-header">
    <h1>Удаление вм из статического пула {{ data?.namePool }}</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>

  <div class="form-fields">
    <label class="field">
      <mat-form-field>
        <mat-label *ngIf="data?.vms?.length">Выберите ВМ для удаления</mat-label>
        <mat-label *ngIf="!data?.vms?.length">- нет виртуальных машин -</mat-label>
        <mat-select (selectionChange)="selectVm($event)" multiple="true">
          <mat-option *ngFor="let vm of data?.vms" [value]="vm?.id">
            {{vm.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="action-name">Удалить</span></button>
  </div>

</div>