
<header class="main-header">
  <div class="logo" routerLink="./pools">
    <img src="../assets/favicon.png" width="20" height="20">
    <span [style.fontSize]="'18px'" >{{(settings$ | async).broker_name }}</span>

  </div>

  <div style="width: auto; display: flex; height: 100%">
  <div class="header-tools">
      <a href="/docs" target="_blank">
        <span>Документация</span>
      </a>
  </div>
  <vdi-header-user></vdi-header-user>
  </div>
</header>

<section class="all-main">
  <vdi-main-menu></vdi-main-menu>

  <main>
    <vdi-wait></vdi-wait>
    <router-outlet></router-outlet>
  </main>
</section>

<vdi-footer></vdi-footer>
