<div class="control-panel">

  <div class="crumb" [style.marginRight]="'15px'">
    <fa-icon [icon]="['fas','comment']"></fa-icon>
    <span class="crumb-name">Статистика подключений</span>
  </div>

  <vdi-button-refresh (clickRefresh)="getStatistics()" ></vdi-button-refresh>

</div>

<div class="components-info">
  <div class="component-list">
    <vdi-table-component 
      class="table-with-pagination"
      [collection]="collection" 
      [entity]="data"
      [data]="data"
      (sortListNow)="sortList($event)">
    </vdi-table-component>

    <vdi-pagination 
      [count]="count" 
      [limit]="limit" 
      [offset]="offset" 
      (action)="toPage($event)">
    </vdi-pagination>
  </div>
</div>