
<div class="control-panel">
    
    <div class="crumb">
        <fa-icon [icon]="['fas','folder-open']"></fa-icon>
        <span class="crumb-name">Пулы данных</span>
    </div>

    <button (click)="getDatapools()" class="btn-refresh" title="Обновить">
        <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
    </button>

</div>


<div class="components-info">
    <div class="component-list"  [style.height]="'100%'">
        <vdi-table-component [data]="datapools" [collection]="collection"></vdi-table-component>
    </div>
    <!-- <div class="component-details" [class.page-height-min]="pageHeight==pageHeightMin" [class.page-height-max]="pageRollup">
        <router-outlet (activate)="componentAdded()" (deactivate)="componentRemoved()"></router-outlet>
    </div> -->
</div>