.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 750px;
    background: #FFF;
}

.al-main {
    width:100%;
    height: 100%;
    display: flex;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    border: 3px solid #d9ecf4;
    height: calc(100% - 28px);
    overflow-y: auto;
}

.cursorTrue {
    cursor: pointer !important;
}

.main-header {
    width: 100%;
    background: slategrey;
    height: 40px;
    //box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 20px;
    color: #FFF;
    margin-left: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;

    > span {
        margin-left: 3px;
    }
}

vdi-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color:#ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#d9ecf4;
}

::-webkit-scrollbar-thumb:hover{
    background-color:orange;
}
    
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.resourse-into {
    .menu {
        display: flex;
        padding: 10px;
        background: rgba(201, 209, 216, 0.3);
    
        > li {
            border: none;
            padding: 5px 15px 5px;
            font-size: 15px;
            color: #000;
            border-radius: 100px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
            transition: .2s box-shadow ease-in-out;
            margin-right: 16px;
            cursor: pointer;
            background: #FFF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
    
            &:hover {
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            }
    
            &:last-child {
                margin-right: 0px;
            }
    
            &.active {
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
                font-weight: bold;
            }
        }
    }
}


.cdk-overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
