[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
ipdb = "*"
jupyterlab = "*"
jupyter = "*"

[packages]
uvicorn = "*"
tornado = "*"
pytest-asyncio = "*"
vdi = {editable = true,path = "."}
g-tasks = {editable = true,path = "./gtasks"}
docopt = "*"
cached-property = "*"
graphene = "*"
starlette = "*"

[requires]
python_version = "3.7"
