[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
ipdb = "*"
jupyterlab = "*"
jupyter = "*"
pytest-asyncio = "*"

[packages]
uvicorn = "*"
tornado = "*"
vdi = {editable = true,path = "."}
g-tasks = {editable = true,path = "./gtasks"}
typed_contextmanager = {editable = true,path = "./typed_contextmanager"}
cached-property = "*"
graphene = "*"
starlette = "*"
psycopg2 = "*"
asyncpg = "*"
mi = {path = "/home/pwtail/ro/records-migrate"}

[requires]
python_version = "3.7"
