<div class="table-area">

  <div *ngIf="header" class="table-area-header">
    <span>{{ header }}</span>
  </div>

  <div *ngFor="let obj of collection" class="table-area-object" [class.table-group]="obj.group">   <!--строка-->

      <div class="table-area-title">
        <span>{{ obj.title }}</span>
        <button *ngIf="obj.edit && item" (click)="actionEditField(obj.edit, obj)" class="edit-button">
          <fa-icon [icon]="['fas','edit']" size="xs"></fa-icon>
        </button>
      </div>

      <div class="table-area-value" *ngIf="item; else nothing">

        <ng-container *ngIf="obj.property_lv2">
          <ng-container *ngIf="item[obj.property] && item[obj.property][obj.property_lv2]; else nothing">
            <span>{{ item[obj.property][obj.property_lv2] }}</span>
          </ng-container>
        </ng-container>

<!-- obj.property === 'status' -->
        <ng-container *ngIf="obj.property === 'status'">
          <ng-container *ngIf="item[obj.property]; else nothing">
            <span>{{ item[obj.property] | status }}</span>
          </ng-container>
        </ng-container>

<!-- obj.property === 'assignment_type' -->
        <ng-container *ngIf="obj.property === 'assignment_type'">
            <span>{{ item[obj.property] | assignmentType }}</span>
        </ng-container>

<!-- obj.property -> all-types-here-->
        <ng-container *ngIf="obj.property && obj.property != 'status' && obj.property != 'assignment_type' && !obj.property_lv2">
          <ng-container *ngIf="item[obj.property] || !!item[obj.property] === false && obj.type; else nothing">
            <span *ngIf="obj.type === 'string'">{{ item[obj.property] ? item[obj.property] : "--" }} </span>

            <span *ngIf="obj.type === 'metric'">{{ item[obj.property] }} {{ obj.unit }}</span>

            <span *ngIf="obj.type === 'bites'">{{ formatBytes(item[obj.property], obj.delimiter) }}</span>

            <span *ngIf="obj.type === 'vm_disconnect_action_timeout'">{{ item[obj.property] }} сек</span>
            <span *ngIf="obj.type === 'cache_time'">{{ item[obj.property] }} сек</span>
            <span *ngIf="obj.type === 'array-length'">{{ item[obj.property]?.length }}</span>
            <span *ngIf="obj.type === 'level'">{{ lvlDescription }}</span>
            <span *ngIf="obj.type === 'pool_type'">{{ item[obj.property] | poolType }}</span>
            <span *ngIf="obj.type === 'task_type'">{{ item[obj.property] | taskType }}</span>
            <span *ngIf="obj.type === 'boolean'">{{ item[obj.property] ? "вкл" : "выкл"}}</span>
            <span *ngIf="obj.type === 'vmAction'">{{ actionName }}</span>

            <ng-container *ngIf="obj.type === 'array'">
              <ul *ngIf="checkLength(item[obj.property]) > 0; else nothing">
                <li *ngFor="let item of item[obj.property]">{{item}}</li>
              </ul>
            </ng-container>

            <span *ngIf="obj.type === 'time'">{{item[obj.property] | date:'dd.MM.yyyy HH:mm:ss 	ZZZZZ'}}</span>

            <ng-container *ngIf="obj.type.typeDepend === 'propertyInObjectsInArray'">
              <ng-container *ngIf="item[obj.property]?.length; else nothing">
                <span *ngFor="let objInItem of item[obj.property];let i = index">
                  {{ objInItem[obj.type.propertyDepend] }}
                  <ng-container *ngIf="item[obj.property]?.length > 1 && i != item[obj.property]?.length - 1">,</ng-container>
                </span>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="obj.type.typeDepend === 'boolean'">
              <ng-container *ngIf="item[obj.property]">{{ obj.type.propertyDepend[0] }}</ng-container>
              <ng-container *ngIf="!item[obj.property]">{{ obj.type.propertyDepend[1] }}</ng-container>
            </ng-container>

            <ng-container *ngIf="obj.type.typeDepend === 'tags_array'">
              <ul *ngIf="checkLength(item[obj.property]) > 0; else nothing">
                <li *ngFor="let dict of item[obj.property]">
                  <fa-icon [icon]="['fas', 'circle']" [style.color]="dict['colour']"></fa-icon>
                  <span> {{ dict['verbose_name'] }}</span>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="obj.group">
          <vdi-table-into [item]="item" [collection]="obj.group" (edit)="edit.emit($event)" (action)="action.emit($event)"></vdi-table-into>
        </ng-container>
      </div>

      <ng-template #nothing>
        <div *ngIf="!item; else noitem" class="table-area-value">
          {{ parseNothing(obj, item) }}
        </div>
        <ng-template #noitem>
          {{ parseNothing(obj, item) }}
        </ng-template>
      </ng-template>

  </div>
</div>
