:host {
    height: 100%;
}

.header-user {
    color: #FFF;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100%;
    border-left: 1px solid rgba(255,255,255,0.15);
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, #282828 0%, #3f606b 120%);
    border-radius: 0 0px 8px 0;

    .name-block {
        width: 140px;
        overflow: hidden;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            white-space: nowrap;
        }
    }

    .header-user-menu {
        position: absolute;
        top: 44px;
        background: #282828;
        width: 100%;
        color: #FFF;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: linear-gradient(to right, #282828 0%, #3f606b 120%);
        z-index: 5;

        > li {
            padding: 8px;
            padding-left: 14px;
            height: 33px;
            font-size: 14px;
            background: linear-gradient(to right, #282828 0%, #3f606b 120%);
            border-radius: 6px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top: 1px solid #595959;
        }
    }
}