<div class="control-panel flexable-height">

    <div class="crumb">
        <fa-icon [icon]="['fas','gavel']"></fa-icon>
        <span class="crumb-name">Задачи</span>
    </div>

    <button (click)="refresh()" class="btn-refresh" title="Обновить">
        <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
    </button>

    <mat-form-field class="tasks-field">
        <mat-label>Состояние выполнения</mat-label>
        <mat-select [formControl]="status">
            <mat-option [value]="'all'">
                Все
            </mat-option>
            <mat-option [value]="'INITIAL'">
                Запускаются
            </mat-option>
            <mat-option [value]="'IN_PROGRESS'">
                Выполняются
            </mat-option>
            <mat-option [value]="'FAILED'">
                Ошибка
            </mat-option>
            <mat-option [value]="'CANCELLED'">
                Отменено
            </mat-option>
            <mat-option [value]="'FINISHED'">
                Завершено
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="tasks-field">
        <mat-label>Действия пулов</mat-label>
        <mat-select [formControl]="task_type">
            <mat-option [value]="'all'">
                Все
            </mat-option>
            <mat-option [value]="'POOL_CREATE'">
                Создание пула
            </mat-option>
            <mat-option [value]="'POOL_EXPAND'">
                Расширение пула
            </mat-option>
            <mat-option [value]="'POOL_DELETE'">
                Удаление пула
            </mat-option>
            <mat-option [value]="'POOL_DECREASE'">
                Уменьшение пула
            </mat-option>
            <mat-option [value]="'VM_PREPARE'">
                Подготовка ВМ
            </mat-option>
            <mat-option [value]="'VMS_BACKUP'">
                Сздание резервной копии ВМ
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="components-info">
    <div class="component-list">
        <vdi-table-component cursor="true" class="table-with-pagination" [data]="tasks" [collection]="collection" (sortListNow)="sortList($event)" (clickRowData)="clickRow($event)" entity="tasks"></vdi-table-component>
        <vdi-pagination [count]="count" [limit]="limit" [offset]="offset" (action)="toPage($event)"></vdi-pagination>
    </div>
</div>

