.control-panel {
    display: flex;
    align-items: center;
    width: calc(100% - 4px);
    height: 45px;
    min-height: 45px;
    padding: 2px;
    background-color: white;
    padding-left: 14px;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.55);
    margin: 0 2px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #e0e0e0;
    border-top: 0;

    .crumb {
        display: flex;
        align-items: center;
        white-space: nowrap;

    }

    .crumb-name {
        margin-left: 10px;
        color: rgba(0,0,0,0.7);
    }

    .control-btns {
        font-size: 13px;
        height: 35px;
        display: flex;
        align-items: center;

        button, label {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            font-size: 13px;
            font-weight: bolder;
            padding-left: 12px;
            padding-right: 14px;
            background-color: transparent;
            border: 1px solid transparent;
            border: 1px solid rgb(0 0 0 / 10%);
            border-radius: 4px;
            color: rgba(0, 0, 0, 0.55);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: all 200ms;
            margin: 2px;

            &:hover {
                transition: all 200ms;
                border: 1px solid rgba(0,0,0,0.2);
                overflow: initial;
            }
        }

        .btn-name {
            margin-left: 8px;
        }
    }

    .control-btns-end {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        flex: 1;
        
        .bars-btn {
            display: inline-flex;
            align-items: center;
            padding: 6px 9px;
            background-color: white;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 4px;
            color: rgba(0,0,0,0.55);
            font-size: 15px;

            &:hover {
                transition: all 200ms;
                background-color: #f6f7f9;
            }
        }
    }

    fa-icon {
        font-size: 12px;
    }
}
