[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.2.2"
pytest-asyncio = "==0.10.0"
pytest-cov = "==2.8.1"
wasmer = "==0.3.0"
snapshottest = "==0.5.1"
flake8 = "==3.7.9"
flake8-builtins = "==1.5.2"
flake8-bugbear = "==19.8.0"
requests = "==2.23.0"
sqlalchemy-utils = "==0.36.*"
async_generator = "==1.10"  # classy_async
#configargparse = "==1.2.*"

[packages]
pyjwt = "==1.7.1"  # JWTTokens
tornado = "==6.0.*"
graphene = "==2.1.8"
graphene_tornado = "==2.5.1"
SQLAlchemy = "==1.3.10"
gino = "==1.0.1"
gino-tornado = "==0.1.0"
alembic = "==1.2.1"  # SQL migrations
psycopg2-binary = "==2.8.4"  # alembic migrations
python2-secrets = "==1.0.5"  # Django-secrets
cryptography = "==2.8"  # controller password encryption
python-ldap = "==3.3.*"  # ldap integration
redis = "==3.4.1"  # thin client message broker
veil-api-client = {path = "./veil_api_client-2.0.3-py3-none-any.whl"}
pymemcache = "==3.2.*"

[requires]
python_version = "3.5"
