[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.2.2"
pytest-asyncio = "==0.10.0"
snapshottest = "==0.5.1"
pytest-cov = "==2.8.1"

[packages]
pyjwt = "==1.7.1"  # JWTTokens
tornado = "==6.0.3"
graphene = "==2.1.8"
graphene_tornado = "==2.5.1"
SQLAlchemy = "==1.3.10"  # ORM
gino = "==0.8.3"  # async ORM
alembic = "==1.2.1"  # SQL migrations
psycopg2-binary = "==2.8.4"  # akembic migrations
python2-secrets = "==1.0.5"  # Django-secrets
cached-property = "==1.5.1"  # cached-property decorator
async_generator = "==1.10"  # classy_async
cryptography = "==2.8"  # controller password encryption
python-ldap = "==3.2.0"  # ldap integration

[requires]
python_version = "3.5.3"
