
.table-area {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background: #FFF;
    width: 100%;
}


.table-area-object {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: rgba(0, 0, 0, 0.6);
    cursor: default;
    min-height: 25px;
    padding: 3px;
    flex-shrink: 0;
}

.table-area-title {
    padding-left: 15px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 250px;
    flex-grow: 1;
}

.table-area-value {
    font-weight: bold;
    margin-left: 10px;
    width: 75%;
    padding-right: 5px;
    word-break: break-all;
}


.edit-button {
    border: none;
    outline: none;
    color: white;
    background-color: #95b8b9;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    transition: all 200ms;
    cursor: pointer;
    box-shadow: 0px 0px 0px 3px white;
    height: 23px;
    margin-right: 10px;

    &:hover {
        background-color: #c9d9e6;
        color: rgba(0,0,0,0.7);
    }
}

.cdk-overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
