<div class="control-panel">
    <div class="crumb">
        <fa-icon [icon]="['fas','building']"></fa-icon>
        <span class="crumb-name">Кластеры</span>
    </div>

    <vdi-button-refresh (clickRefresh)="getAllClusters()" ></vdi-button-refresh>

    <div class="control-btns-end">
        <button *ngIf="pageRollup" class="bars-btn" (click)="toggleShow()">
            <fa-icon [icon]="['fas','bars']"></fa-icon>
        </button>
    </div>
</div>

<div class="components-info" #view>
    <div class="component-list" [class.page-wrap]="pageRollup&&!pageShow" [class.page-rollup]="pageRollup" [style.height]="pageHeight">
        <vdi-table-component [data]="clusters" [collection]="collection" cursor="true" (clickRowData)="routeTo($event)" (sortListNow)="sortList($event)"></vdi-table-component>
    </div>
    <div class="component-details" [class.page-height-min]="pageHeight==pageHeightMin" [class.page-height-max]="pageRollup">
        <router-outlet (activate)="componentActivate()" (deactivate)="componentDeactivate()"></router-outlet>
    </div>
</div>