<div class="control-panel">
    
    <div class="crumb">
        <fa-icon [icon]="['fas','address-card']"></fa-icon>
        <span class="crumb-name">Службы каталогов</span>
    </div>

    <button (click)="getAllAuthenticationDirectory()" class="btn-refresh" title="Обновить">
        <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
    </button>

    <div class="control-btns">
        <button type="button" (click)="addUser()">
            <fa-icon [icon]="['fas','plus-circle']"></fa-icon>
            <span class="btn-name">Добавить службу каталогов</span>
        </button>
    </div>

</div>

<div class="components-info">
    <div class="component-list" [style.height]="'100%'">
        <vdi-table-component [data]="auth-directory" [collection]="collection" (sortListNow)="sortList($event)"></vdi-table-component>
    </div>
    <!-- <div class="component-details" [class.page-height-min]="pageHeight==pageHeightMin" [class.page-height-max]="pageRollup">
        <router-outlet (activate)="componentAdded()" (deactivate)="componentRemoved()"></router-outlet>
    </div> -->
</div>