.btn-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 13px;
    width: 36px;
    height: 78%;
    margin-left: 5px;
    margin-right: 5px;
    color: rgba(0,0,0,0.55);

    &:hover {
        transition: all 200ms;
        border: 1px solid rgba(0,0,0,0.2);
        overflow: initial;
        border-radius: 2px;
    }
}