.panel-btn-into {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to right, #282828 0%, #769ca2 80%, #3f606b 100%);

    button {
        display: flex;
        align-items: center;
        border: none;
        padding: 5px 15px 5px;
        color: #282828;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
        transition: .2s box-shadow ease-in-out;
        cursor: pointer;
        background: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 3px;
        font-weight: bold;

        span.name {
            margin-left: 4px;
        }

        &:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .rotation {
    display: inline-block;
    transform: rotate(0);
    animation: infinite rotate 1s linear;
  }

  .ad-status {
    margin-left: 5px;
  }

  .ad-success {
    color: green;
  }

  .ad-failed {
    color: red;
  }

  .ad-status-text {
    font-size: 11px;
    margin-left: 3px;
  }
