#!/bin/bash
readonly DB1="{{ hostvars[db1_host].local_ip }}"
readonly DB2="{{ hostvars[db2_host].local_ip }}"
readonly BACKUP="{{ local_ip }}"
readonly SLOT_NAME="barman"
readonly BARMAN_NAME="{{ barman_backup_name }}"
readonly PG_PORT="{{ pg_port }}"
readonly BARMAN_PORT="{{ repmgrd_barman_port }}"
readonly MASTER_PORT="{{ repmgrd_app_port }}"
readonly NODE_ID="$1"
readonly EVENT="$2"

if [[ "$NODE_ID" == "1" ]]; then
        IP="$DB1"
else
        IP="$DB2"
fi

if [[ "$EVENT" =~ ^(primary_register|standby_promote|repmgrd_failover_promote)$ ]]; then
        sudo {{ repmgrd_iptables_script }} $IP $BACKUP $PG_PORT $BARMAN_PORT
        echo "$NODE_ID" > {{ repmgrd_master_file }}
        #psql -h $IP -p $PG_PORT -U repmgr -d repmgr -c "select pg_create_physical_replication_slot('$SLOT_NAME') where not exists(select 1 from pg_replication_slots where slot_name = '$SLOT_NAME');"
        #sudo -u barman barman receive-wal --stop $BARMAN_NAME 2>/dev/null
        #sudo -u barman barman switch-wal --force --archive --archive-timeout=90 $BARMAN_NAME
        sudo {{ repmgrd_iptables_script }} $IP $BACKUP $PG_PORT $MASTER_PORT "app"
fi

if [[ "$EVENT" =~ ^(standby_register|standby_follow|repmgrd_failover_follow|repmgrd_standby_reconnect)$ ]]; then
        echo "" #dummy, empty 'if' error
        #psql -h $IP -p $PG_PORT -U repmgr -d repmgr -c "select pg_drop_replication_slot('$SLOT_NAME') from pg_replication_slots where slot_name = '$SLOT_NAME';"
fi
