
<div class="form">

  <div class="form-header">
    <h1>Удаление контроллера VeiL</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>

  <div class="form-message">
    <p>Удалить контроллер {{ data?.verbose_name }}?</p>

    <p class="description">Автоматические пулы будут удалены полностью (вместе с ВМ);</p>
    <p class="description">Статические пулы будут удалены без удаления ВМ.</p>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="action-name">Удалить</span></button>
  </div>

</div>

