<div class="form">

  <div class="form-header">
    <h1>Добавление пользователя</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>

  <div class="form-fields" [formGroup]="form">
    <label class="field">
      <p class="field-name">Имя пользователя</p>
      <input type="text" [focusMe]="true" placeholder="..." formControlName="verbose_name">
    </label>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="action-name">Добавить</span></button>
  </div>

</div>