<div class="control-panel flexable-height" *ngIf="controls">

    <div class="crumb">
        <fa-icon [icon]="['fas','comment']"></fa-icon>
        <span class="crumb-name">События</span>
    </div>

    <vdi-button-refresh (clickRefresh)="refresh()" ></vdi-button-refresh>

    <div class="control-btns" [style.height]="'unset'">
        <button type="button" class="ctrl-btn" (click)="openExports()">
            <fa-icon [icon]="['fas','plus-circle']"></fa-icon>
            <span class="btn-name">Создать выгрузку</span>
        </button>
    </div>

    <span [style.margin]="'10px'"><pre>Диапазон с</pre></span>

    <input [matDatepicker]="start_picker" [formControl]="start_date">

    <mat-datepicker-toggle [for]="start_picker"></mat-datepicker-toggle>
    <mat-datepicker #start_picker></mat-datepicker>

    <span [style.margin]="'10px'"><pre>по</pre></span>

    <input [matDatepicker]="end_picker" [formControl]="end_date">
    <mat-datepicker-toggle [for]="end_picker"></mat-datepicker-toggle>
    <mat-datepicker #end_picker></mat-datepicker>

    <mat-form-field class="events-field">
        <mat-label>Тип событий</mat-label>
        <mat-select [formControl]="event_type">
            <mat-option [value]="'all'">
                Все
            </mat-option>
            <mat-option [value]="0">
                Информационные
            </mat-option>
            <mat-option [value]="1">
                Предупреждения
            </mat-option>
            <mat-option [value]="2">
                Ошибки
            </mat-option>
            <mat-option [value]="3">
                Отладка
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="events-field">
        <mat-label>Пользователь</mat-label>
        <mat-select [formControl]="user">
            <mat-option [value]="'all'">
                Все
            </mat-option>
            <mat-option [value]="'system'">
                Системные
            </mat-option>
            <mat-option [value]="user.username" *ngFor="let user of users">
                {{ user.username }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="events-field">
        <mat-label>Тип сущности</mat-label>
        <mat-select [formControl]="entity_type">
            <mat-option [value]="'all'">
                Все
            </mat-option>
            <mat-option [value]="type" *ngFor="let type of entity_types">
                {{ type }}
            </mat-option>
        </mat-select>
    </mat-form-field>

<!--  На 28.10.2020 утеряно тайное знание, что делает эта кнопка и работает ли она-->
<!--    <mat-checkbox class="events-checkbox" [color]="'primary'" [formControl]="readed">-->
<!--        Прочитанные пользователем-->
<!--    </mat-checkbox>-->
</div>

<div class="components-info" [style.height]="controls ? 'inherit' : '100%'">
    <div class="component-list">
        <vdi-table-component cursor="true" class="table-with-pagination" [data]="events" [collection]="collection" (sortListNow)="sortList($event)" (clickRowData)="clickRow($event)" entity="events"></vdi-table-component>
        <vdi-pagination [count]="count" [limit]="limit" [offset]="offset" (action)="toPage($event)"></vdi-pagination>
    </div>
</div>

