<div class="form">

  <div class="form-header">
    <h1>Удаление группы из службы каталогов {{data?.verbose_name}}</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>

  <div class="form-fields">
    <label class="field">
      <mat-form-field>
        <mat-label *ngIf="pending">Загрузка ...</mat-label>
        <mat-label *ngIf="data.groups?.length && !pending">Выберите группу</mat-label>
        <mat-label *ngIf="!data.groups?.length && !pending">- нет групп -</mat-label>
        <mat-select (selectionChange)="select($event)">
          <mat-option *ngFor="let group of data.groups" [value]="group.ad_guid">
            {{ group.verbose_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="error" *ngIf="!valid">Выберите группу</div>
    </label>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="action-name">Удалить</span></button>
  </div>

</div>
