<div class="form">

  <div class="form-header">
    <h1>Добавление контроллера Veil</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>

  <div class="form-fields">
    <label class="field">
      <p class="field-name">IP-адрес</p>
      <input type="text" [(ngModel)]="controller" [focusMe]="true">
    </label>
    <label class="field">
      <p class="field-name">Описание</p>
      <textarea [(ngModel)]="description"></textarea>
    </label>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="action-name">Добавить</span></button>
  </div>

</div>