<div class="form">

  <div class="form-header">
    <p>Создание пула виртуальных машин</p>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']" size="s"></fa-icon></button>
  </div>

  <div class="form-fields" [formGroup]="chooseTypeForm" *ngIf="step === 'chooseType'">
    <label class="field">
      <p class="field-name">Статический</p>
      <input type="radio" formControlName="type" value="Статический">
    </label>
    <label class="field">
      <p class="field-name">Динамический</p>
      <input type="radio" formControlName="type" value="Динамический">
    </label>
    <div class="form-actions">
      <button type="submit" (click)="send('createPool')" class="form-btn"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="action-name">Далее</span></button>
    </div>
  </div>



  <div class="form-fields" [formGroup]="staticPoolForm || dinamicPoolForm" *ngIf="step === 'createPool'">
    <label class="field">
      <p class="field-name">Имя пула</p>
      <input type="text" [focusMe]="true" formControlName="name">
    </label>

    <label class="field" *ngIf="chooseTypeForm.value.type === 'Динамический'">
      <mat-form-field>
        <mat-label  *ngIf="pending.templates">Загрузка ...</mat-label>
        <mat-label  *ngIf="templates.length && !pending.templates">Выберите шаблон ВМ</mat-label>
        <mat-label  *ngIf="!templates.length && !pending.templates">- нет шаблонов -</mat-label>
        <mat-select (selectionChange)="selectTemplate($event)">
          <mat-option *ngFor="let template of templates" [value]="template.id">
            {{template.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field">
      <mat-form-field>
        <mat-label  *ngIf="pending.clusters">Загрузка ...</mat-label>
        <mat-label  *ngIf="clusters.length && !pending.clusters">Выберите кластер</mat-label>
        <mat-label  *ngIf="!clusters.length && !pending.clusters">- нет кластеров -</mat-label>
        <mat-select (selectionChange)="selectCluster($event)">
          <mat-option *ngFor="let cluster of clusters" [value]="cluster.id">
            {{cluster.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="id_cluster">
      <mat-form-field>
        <mat-label  *ngIf="pending.nodes">Загрузка ...</mat-label>
        <mat-label  *ngIf="nodes.length && !pending.nodes">Выберите сервер</mat-label>
        <mat-label  *ngIf="!nodes.length && !pending.nodes">- нет серверов -</mat-label>
        <mat-select (selectionChange)="selectNode($event)" #selectNodeRef>
          <mat-option *ngFor="let node of nodes" [value]="node.id">
            {{node.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="id_node">
      <mat-form-field>
        <mat-label *ngIf="pending.datapools">Загрузка ...</mat-label>
        <mat-label *ngIf="datapools.length && !pending.datapools">Выберите пул данных</mat-label>
        <mat-label *ngIf="!datapools.length && !pending.datapools">- нет пулов данных -</mat-label>
        <mat-select (selectionChange)="selectDatapool($event)" #selectDatapoolRef>
          <mat-option *ngFor="let datapool of datapools" [value]="datapool.id">
            {{datapool.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="id_datapool && chooseTypeForm.value.type === 'Статический'">
      <mat-form-field>
        <mat-label *ngIf="pending.vms">Загрузка ...</mat-label>
        <mat-label *ngIf="vms.length && !pending.vms">Выберите свободные ВМ</mat-label>
        <mat-label *ngIf="!vms.length && !pending.vms">- нет виртуальных машин -</mat-label>
        <mat-select (selectionChange)="selectVm($event)" multiple="true" #selectVmRef>
          <mat-option *ngFor="let vm of vms" [value]="vm.id">
            {{vm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="chooseTypeForm.value.type === 'Динамический'">
      <p class="field-name">Начальное количество ВМ</p>
      <input type="number" formControlName="initial_size" min="0">
    </label>
  
    <label class="field" *ngIf="chooseTypeForm.value.type === 'Динамический'">
      <p class="field-name">Количество создаваемых ВМ</p>
      <input type="number" formControlName="reserve_size"  min="0">
    </label>

    <div class="form-actions">
      <button  (click)="send('finish')" class="form-btn"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="action-name">Далее</span></button>
      <button (click)="send('chooseType')" class="form-btn"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="action-name">Назад</span></button>
    </div>
  </div>

</div>