<div class="control-panel">
    
  <div class="crumb" [style.marginRight]="'15px'">
    <fa-icon [icon]="['fas','sliders-h']"></fa-icon>
      <span class="crumb-name">Система</span>
  </div>
  <vdi-button-refresh (clickRefresh)="getSystemInfo()" ></vdi-button-refresh>

  <div class="control-btns">
  
  </div>
</div>


<div class="components-info" #view>
  <vdi-tabs>
      
    <vdi-tab title="Время" iconName="clock">
      <vdi-table-into 
        [item]="dateInfo" 
        [collection]="intoCollection">
      </vdi-table-into>
    </vdi-tab>
    <vdi-tab title="Интерфейсы" iconName="chart-bar">
      <div class="component-list" [class.page-wrap]="pageRollup&&!pageShow" [class.page-rollup]="pageRollup" [style.height]="pageHeight">
        <vdi-table-component  [data]="networksList" [collection]="tableCollection" cursor="true" ></vdi-table-component>
      </div>
    </vdi-tab>
  </vdi-tabs>

</div>
