


      
<div class="details-wrap">

    <div class="details-header">
        <div class="title"><fa-icon [icon]="['fas','desktop']" size="s" ></fa-icon><span class="name">Пул <span *ngIf="host">{{pool?.verbose_name}}</span></span></div>
        <div class="btns-part">
            <button class="btn-close" (click)="close()"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
        </div>
    </div>
    <div class="details-control-panel">
        <button (click)="getPool()" class="btn-refresh" title="Обновить">
            <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
        </button>

        <button (click)="expandPool()" *ngIf="menuActive === 'info' && pool?.pool_type == 'AUTOMATED'" title="Расширить пул" class="btn-control">
            <fa-icon [icon]="['fas','expand']" size="xs"></fa-icon>
            <span class="name">Расширить пул</span>
        </button>

        <button (click)="removePool()" *ngIf="menuActive === 'info' && pool" title="Удалить пул" class="btn-control">
            <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
            <span class="name">Удалить пул</span>
        </button>

        <ng-container *ngIf="menuActive === 'vms' && pool">
            <button *ngIf="typePool === 'static'" (click)="addVM()" title="Добавить ВМ в пул" class="btn-control">
                <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
                <span class="name">Добавить ВМ</span>
            </button>

            <button *ngIf="typePool === 'automated'" (click)="prepareVM()" title="Подготовить ВМ" class="btn-control">
                <fa-icon [icon]="['fas','suitcase']" size="xs"></fa-icon>
                <span class="name">Подготовить ВМ</span>
            </button>

            <button (click)="removeVM()" title="Удалить ВМ из пула" class="btn-control">
                <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
                <span class="name">Удалить ВМ</span>
            </button>
        </ng-container>

        <ng-container *ngIf="menuActive === 'users' && pool">
            <button (click)="addUsers()" title="Добавить пользователей" class="btn-control">
                <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
                <span class="name">Добавить пользователя</span>
            </button>

            <button (click)="removeUsers()" title="Удалить пользователей" class="btn-control">
                <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
                <span class="name">Удалить пользователя</span>
            </button>
        </ng-container>

        <ng-container *ngIf="menuActive === 'roles'">
            <button class="btn-control" (click)="addRole()" title="Добавить роль">
                <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
                <span class="name">Добавить роль</span>
            </button>
        
            <button *ngIf="pool?.assigned_roles?.length" class="btn-control" (click)="removeRole()" title="Удалить роль">
                <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
                <span class="name">Удалить роль</span>
            </button>
        </ng-container>
        
        <ng-container *ngIf="menuActive === 'groups'">
            <button class="btn-control" (click)="addGroup()" title="Добавить группу">
                <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
                <span class="name">Добавить группу</span>
            </button>
        
            <button *ngIf="pool?.assigned_groups?.length" class="btn-control" (click)="removeGroup()" title="Удалить группу">
                <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
                <span class="name">Удалить группу</span>
            </button>
        </ng-container>
    </div>

    <div class="details-row">
        <ul class="details-menu">
            <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация о пуле"> <fa-icon [icon]="['fas','chart-bar']"></fa-icon><span class="name">Информация</span></li>
            <li (click)="routeTo('vms')" [class.active]="menuActive === 'vms'" title="Виртуальные машины в пуле"> <fa-icon [icon]="['fas','desktop']"></fa-icon><span class="name">Виртуальные машины</span></li>
            <!-- <li (click)="routeTo('event-vm')" *ngIf="typePool === 'automated'" [class.active]="menuActive === 'event-vm'" title="События создания ВМ в пуле"> <fa-icon [icon]="['fas','comment']"></fa-icon><span class="name">События создания ВМ</span></li> -->
            <li (click)="routeTo('users')" [class.active]="menuActive === 'users'" title="Пользователи пула"> <fa-icon [icon]="['fas','users']"></fa-icon><span class="name">Пользователи</span></li>
            <li (click)="routeTo('groups')" [class.active]="menuActive === 'groups'" title="Пользователи пула"> <fa-icon [icon]="['fas','users-cog']"></fa-icon><span class="name">Группы</span></li>
            <li (click)="routeTo('roles')" [class.active]="menuActive === 'roles'" title="Пользователи пула"> <fa-icon [icon]="['fas','users-cog']"></fa-icon><span class="name">Роли</span></li>
        </ul>
        
        <div class="details-slide" *ngIf="host">
            <div class="details-slide-header">
                <ng-container *ngIf="menuActive === 'info'">Информация о пулах рабочих столов</ng-container>
                <ng-container *ngIf="menuActive === 'vms'">ВМ в пуле</ng-container>
                <ng-container *ngIf="menuActive === 'users'">Пользователи пула</ng-container>
                <ng-container *ngIf="menuActive === 'groups'">Группы пула</ng-container>
                <ng-container *ngIf="menuActive === 'roles'">Роли пула</ng-container>
                <!-- <ng-container *ngIf="menuActive === 'event-vm'">События создания ВМ</ng-container> -->
            </div>
            
            <div class="details-slide-into">
                <ng-container *ngIf="typePool === 'automated'">
                    <vdi-table-into *ngIf="menuActive === 'info'" [item]="pool" [collection]="collectionDetailsAutomated" (action)="actionEdit($event)"></vdi-table-into>
                    <vdi-table-component *ngIf="menuActive === 'vms'" [data]="pool?.vms" [collection]="collectionVmsAutomated" entity="vm" (clickRowData)="clickVm($event)" cursor="true"></vdi-table-component>
                    <vdi-table-component *ngIf="menuActive === 'event-vm'" [data]="eventCreatedVm" [collection]="collectionEventVm"></vdi-table-component> 
                </ng-container>

                <ng-container *ngIf="typePool === 'static'">
                    <vdi-table-into *ngIf="menuActive === 'info'" [item]="pool" [collection]="collectionDetailsStatic" (action)="actionEdit($event)"></vdi-table-into>
                    <vdi-table-component *ngIf="menuActive === 'vms'" [data]="pool?.vms" [collection]="collectionVmsStatic" entity="vm" (clickRowData)="clickVm($event)" cursor="true"></vdi-table-component> 
                </ng-container>

                <vdi-table-component *ngIf="menuActive === 'users'" [data]="pool?.users" [collection]="collectionUsers"></vdi-table-component> 
                <vdi-table-component *ngIf="menuActive === 'groups'" [data]="pool?.assigned_groups" [collection]="collectionGroups"></vdi-table-component> 
                <vdi-table-component *ngIf="menuActive === 'roles'" [data]="pool?.assigned_roles" [collection]="collectionRoles"></vdi-table-component> 
            </div>     
        </div>
    </div>

</div>