<div class="form">
  <div class="form-header">
    <h1>Подробности резервной копии</h1>
    <button [mat-dialog-close]="true" class="form-close">
      <fa-icon [icon]="['fas','times-circle']"></fa-icon>
    </button>
  </div>

  <div class="details-slide">
      <div class="details-control-panel">
        <button (click)="openRestoreBackup()" class="btn-control" title="Восстановление ВМ">
            <fa-icon [icon]="['fas','window-restore']" size="xs"></fa-icon>
            <span class="name">Восстановление ВМ</span>
        </button>
      </div>
  </div>
  <vdi-table-into style="white-space:pre-wrap" [item]="backup" [collection]="collection"></vdi-table-into>
</div>
