<div class="form" *ngIf="init">

  <div class="form-header">
    <h1>{{ data?.form?.header }}</h1>
    <button [mat-dialog-close]="true" class="form-close">
      <fa-icon [icon]="['fas','times-circle']"></fa-icon>
    </button>
  </div>

  <div class="form-message">
    <p>{{ data?.form?.question }}</p>
  
    <p *ngIf="data.form.description" class="description">{{ data?.form?.description }}</p>
  </div>
  
  <div class="form-actions">
    <button (click)="send()" class="form-btn">
      <span class="action-name">{{ data?.form?.button }}</span>
    </button>
  </div>

</div>