[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipdb = "*"
jupyterlab = "*"
jupyter = "*"
pytest-asyncio = "*"

[packages]
cached-property = "*"
classy_async = {editable = false,path = "."}

[requires]
python_version = "3.7"
