<div class="form">

  <div class="form-header">
    <h1>Добавление службы каталогов</h1>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
  </div>

  <ng-template #errorTemp>
    <div class="error">Поле обязательно для заполения</div>
  </ng-template>

  <div class="form-fields" [formGroup]="form">
    <label class="field">
      <p class="field-name">Название</p>
      <input type="text" [focusMe]="true" placeholder="..." formControlName="verbose_name">
      <ng-container *ngIf="form.hasError('required', 'verbose_name') && checkValid"><ng-container *ngTemplateOutlet="errorTemp"></ng-container></ng-container>
    </label>

    <label class="field">
      <p class="field-name">NetBIOS имя домена</p>
      <input type="text" placeholder="..." formControlName="domain_name">
      <ng-container *ngIf="form.hasError('required', 'domain_name') && checkValid"><ng-container *ngTemplateOutlet="errorTemp"></ng-container></ng-container>
    </label>

    <label class="field">
      <p class="field-name">Полное имя домена</p>
      <input type="text" placeholder="..." formControlName="dc_str">
      <ng-container *ngIf="form.hasError('required', 'dc_str') && checkValid"><ng-container *ngTemplateOutlet="errorTemp"></ng-container></ng-container>
    </label>

    <label class="field">
      <p class="field-name">Тип подключения</p>

      <mat-form-field>
        <mat-label>Выберите тип подключения</mat-label>

        <mat-select formControlName="connection_type">
          <mat-option [value]="'ldap'">
            ldap
          </mat-option>

          <mat-option [value]="'ldaps'">
            ldaps
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="form.hasError('required', 'type') && checkValid"><ng-container *ngTemplateOutlet="errorTemp"></ng-container></ng-container>
      <div class="error" *ngIf="form.hasError('pattern', 'type') && checkValid">Поле введено некорректно</div>
    </label>

    <label class="field">
      <p class="field-name">URL</p>
      <input type="text" placeholder="..." formControlName="directory_url">
      <ng-container *ngIf="form.hasError('required', 'directory_url') && checkValid"><ng-container *ngTemplateOutlet="errorTemp"></ng-container></ng-container>
      <div class="error" *ngIf="form.hasError('pattern', 'directory_url') && checkValid">Поле введено некорректно</div>
    </label>

    <label class="field">
      <p class="field-name">Тип</p>

      <mat-form-field>
        <mat-label>Выберите тип службы</mat-label>

        <mat-select formControlName="directory_type">
          <mat-option [value]="'ActiveDirectory'">
            ActiveDirectory
          </mat-option>

          <mat-option [value]="'FreeIPA'">
            FreeIPA
          </mat-option>

          <mat-option [value]="'OpenLDAP'">
            OpenLDAP
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="form.hasError('required', 'directory_type') && checkValid"><ng-container *ngTemplateOutlet="errorTemp"></ng-container></ng-container>
      <div class="error" *ngIf="form.hasError('pattern', 'directory_type') && checkValid">Поле введено некорректно</div>
    </label>

    <label class="field">
      <p class="field-name">Пользователь</p>
      <input type="text" placeholder="..." formControlName="service_username">
      <ng-container *ngIf="form.hasError('required', 'service_username') && checkValid">
        <ng-container *ngTemplateOutlet="errorTemp"></ng-container>
      </ng-container>
    </label>

    <label class="field">
      <p class="field-name">Пароль</p>
      <input type="password" placeholder="..." formControlName="service_password">
      <ng-container *ngIf="form.hasError('required', 'service_password') && checkValid">
        <ng-container *ngTemplateOutlet="errorTemp"></ng-container>
      </ng-container>
    </label>

    <label class="field">
      <p class="field-name">Описание</p>
      <textarea formControlName="description"></textarea>
    </label>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="action-name">Добавить</span></button>
  </div>

</div>
