
.table-area {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background: #FFF;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.table-area-object {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: rgba(0, 0, 0, 0.6);
    cursor: default;
    min-height: 25px;
    padding: 3px;
}

.table-area-property {
    display: flex;
    align-items: center;
    width: 100%;


    .table-area-title {
        padding-left: 15px;
        width: 25%;
    }

    .table-area-value {
        font-weight: bold;
        margin-left: 10px;
        width: 75%;
    }
}


.cdk-overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
