

<div class="control-panel">
    
    <div class="crumb">
        <fa-icon [icon]="['fas','server']"></fa-icon>
        <span class="crumb-name">Серверы</span>
    </div>

    <button (click)="getNodes()" class="btn-refresh" title="Обновить">
        <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
    </button>

</div>

<div class="components-info" #view>
    <div class="component-list" [class.page-wrap]="pageRollup" [class.page-rollup]="pageRollup" [style.height]="pageHeight">
        <vdi-table-component [data]="nodes" [collection]="collection" [cursor]="true" (clickRowData)="routeTo($event)"></vdi-table-component>
    </div>
    <div class="component-details" [class.page-height-min]="pageHeight==pageHeightMin" [class.page-height-max]="pageRollup">
        <router-outlet (activate)="componentAdded()" (deactivate)="componentRemoved()"></router-outlet>
    </div>
</div>

