<div class="details-wrap">

  <div class="details-header">
    <div class="title">
      <fa-icon [icon]="['fas','address-card']" size="s"></fa-icon>
      <span class="name">
        Служба каталогов <span >{{AuthenticationDirectory?.verbose_name}}</span>
      </span>
    </div>

    <div class="btns-part">
      <button class="btn-close" (click)="close()">
        <fa-icon [icon]="['fas','times-circle']"></fa-icon>
      </button>
    </div>
  </div>

  <div class="details-control-panel">
    <vdi-button-refresh (clickRefresh)="getAuthenticationDirectory()" ></vdi-button-refresh>

    <ng-container *ngIf="menuActive === 'info'">
      <button (click)="remove()" title="Удалить службу каталогов" class="btn-control">
        <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
        <span class="name">Удалить</span>
      </button>

      <button (click)="testAuthDir()" title="Проверить соединение" class="btn-control">
        <fa-icon [class.rotation]="testing" [icon]="['fas','sync-alt']" size="xs"></fa-icon>
        <span class="name">Проверка соединения</span>

        <fa-icon *ngIf="tested && connected" class="ad-status ad-success" [icon]="['fas','check']" size="xs"></fa-icon>
        <fa-icon *ngIf="tested && !connected" class="ad-status ad-failed" [icon]="['fas','times-circle']" size="xs"></fa-icon>

        <span class="ad-status-text" [class.ad-success]="connected" [class.ad-failed]="!connected" *ngIf="tested">{{ connected ? 'Успешно' : 'Нет соединения' }}</span>
      </button>

      <button (click)="changeSso()" title="Конфигурация SSO" class="btn-control">
        <fa-icon [icon]="['fas','cog']" size="xs"></fa-icon>
        <span class="name">Конфигурация SSO</span>
      </button>

      <button *ngIf="AuthenticationDirectory?.directory_type === 'OpenLDAP'" (click)="syncOpenLDAPUsers()" title="Синхронизировать пользователей" class="btn-control">
        <fa-icon [icon]="['fas','rss']" size="xs"></fa-icon>
        <span class="name">Синхронизировать пользователей</span>

        <fa-icon *ngIf="synced && connected" class="ad-status ad-success" [icon]="['fas','check']" size="xs"></fa-icon>
        <fa-icon *ngIf="synced && !connected" class="ad-status ad-failed" [icon]="['fas','times-circle']" size="xs"></fa-icon>

        <span class="ad-status-text" [class.ad-success]="connected" [class.ad-failed]="!connected" *ngIf="synced">{{ connected ? 'Синхронизировано' : 'Не синхронизировано' }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="menuActive === 'match'">
      <button (click)="addMatch()" title="Добавить соответствия" class="btn-control">
        <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
        <span class="name">Добавить соответствия</span>
      </button>
    </ng-container>

    <ng-container *ngIf="menuActive === 'groups'">
      <button class="btn-control" (click)="addGroup()" title="Добавить группу" *ngIf="!(AuthenticationDirectory.status == 'BAD_AUTH' || AuthenticationDirectory.status == 'FAILED')">
        <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
        <span class="name">Добавить группу</span>
      </button>

      <button *ngIf="AuthenticationDirectory?.assigned_ad_groups?.length" class="btn-control"
        (click)="syncExistAuthDirGroupUsers()" title="Синхронизировать группу">
        <fa-icon [icon]="['fas','rss']" size="xs"></fa-icon>
        <span class="name">Синхронизировать группу</span>
      </button>

      <button *ngIf="AuthenticationDirectory?.assigned_ad_groups?.length" class="btn-control" (click)="removeGroup()" title="Удалить группу" >
        <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon>
        <span class="name">Удалить группу</span>
      </button>
    </ng-container>
  </div>

  <div class="details-row">
    <ul class="details-menu">
      <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация о службе каталогов">
        <fa-icon [icon]="['fas','chart-bar']"></fa-icon>
        <span class="name">Информация</span>
      </li>

      <li (click)="routeTo('match')" [class.active]="menuActive === 'match'" title="Соответствия">
        <fa-icon [icon]="['fas','columns']"></fa-icon>
        <span class="name">Соответствия</span>
      </li>

      <li *ngIf="AuthenticationDirectory?.directory_type != 'OpenLDAP'" (click)="routeTo('groups')" [class.active]="menuActive === 'groups'" title="Группы пользователя">
        <fa-icon [icon]="['fas','users-cog']"></fa-icon>
        <span class="name">Группы</span>
      </li>
    </ul>

    <div class="details-slide" *ngIf="host">
      <div class="details-slide-header">
        <ng-container *ngIf="menuActive === 'info'">Информация о службе каталогов</ng-container>
        <ng-container *ngIf="menuActive === 'match'">Соответствия</ng-container>
        <ng-container *ngIf="menuActive === 'groups'">Группы службы</ng-container>
      </div>

      <div class="details-slide-into">
        <vdi-table-into
          [item]="AuthenticationDirectory"
          [collection]="collection"
          (edit)="edit($event)"
          *ngIf="menuActive === 'info'">
        </vdi-table-into>

        <vdi-table-component
          cursor="true"
          (clickRowData)="openMapping($event)"
          [data]="AuthenticationDirectory.mappings"
          [collection]="collection_mapping"
          *ngIf="menuActive === 'match'">
        </vdi-table-component>

        <vdi-table-component
          *ngIf="menuActive === 'groups'"
          [data]="AuthenticationDirectory.assigned_ad_groups"
          [collection]="collection_groups">
        </vdi-table-component>
      </div>
    </div>
  </div>
</div>
