[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipdb = "*"
aoiklivereload = "*"

[packages]
sanic = "*"
sanic-jwt = "*"
PyJWT = "*"
vdi = {editable = false,path = "./../vdi_server"}
asyncpg = "*"
classy-async = {editable = false,path = "./../classy_async"}
cached-property = "*"
sanic-server = {path = "."}

tornado = "*"

[requires]
python_version = "3.7"
