
<div class="details-wrap">

    <div class="details-header">
        <div class="title"><fa-icon [icon]="['fas','building']" size="s" ></fa-icon><span class="name">{{template?.verbose_name}}</span></div>
        <div class="btns-part">
            <button class="btn-close" (click)="close()"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
        </div>
    </div>
    <div class="details-control-panel">
        <vdi-button-refresh (clickRefresh)="getTemplate(true)" ></vdi-button-refresh>
        <button (click)="attachVeilUtils()" title="Монтировать образ utils" class="btn-control">
            <fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon>
            <span class="name">Монтировать образ utils</span>
        </button>
    </div>

    <div class="details-row">
        <ul class="details-menu">
            <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация"><fa-icon [icon]="['fas','chart-bar']"></fa-icon><span class="name">Информация</span></li>
        </ul>

        <div class="details-slide" *ngIf="host">
            <div class="details-slide-header">
                <ng-container *ngIf="menuActive === 'info'">Информация о шаблоне</ng-container>
            </div>
            <div class="details-slide-into">
                <vdi-table-into [item]="template" [collection]="collectionDetails" *ngIf="menuActive === 'info'"></vdi-table-into>
            </div>
        </div>
    </div>

</div>
