footer {  
    height: 30px;
    background: #FFF;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-top: 1px solid rgba(102,132,142,0.7);
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 4;
    left: 0px;
    right: 0px;
    min-width: 320px;

    .license {
        display: flex;
        color: black;
        padding: 0 20px;

        > span {
            display: flex;
            margin: 0 10px;
            font-size: 11px;
            line-height: 11px;
            padding: 3px;
        }
    
        .warning {
            color: #ce3131;
        }
    }

    .copyright {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 13px;   
        height: 100%;
        padding: 6px;
        padding-right: 25px;
        background-color: #3f606b;
        position: relative;
        color: rgba(255,255,255,0.9);
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            left: -50px;
            top: 0;
            transform: rotate(50deg);
            width: 100px;
            height: 100px;
            background-color: #3f606b;
            z-index: -1;
        }

        a {
            color: rgba(255,255,255,0.9);
            text-decoration: none;
            font-size: 12px;
        }
    }
}