.resourse-into {
    background: #FFF;
    width: 100%;


    .header {
        padding: 7px;
        background: #44505a;
        color: #FFF;
    }

    .entity-into {
        height: 100%;
    }

    .menu {
        display: flex;
        padding: 10px;

        > li {
            border: none;
            padding: 5px 15px 5px;
            font-size: 15px;
            color: #000;
            border-radius: 100px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
            transition: .2s box-shadow ease-in-out;
            margin-right: 16px;
            cursor: pointer;
            background: #eceef2;

            &:hover {
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            }

            &:last-child {
                margin-right: 0px;
            }

            &.active {
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
            }
        }
    }

   .table-component {

    }
}