<div class="resourse-into" *ngIf="clusterId">

  <div class="header">
    <div>{{what}} {{clusterName}}</div>
  </div>

  <div class="entity-into">
    <ul class="menu">
      <li (click)="routeTo('servers')" [class.active]="menuActive === 'servers'">Серверы</li>
      <li (click)="routeTo('datapools')">Пулы данных</li>
      <li (click)="routeTo('templates')">Шаблоны ВМ</li>
      <li (click)="routeTo('vms')">ВМ</li>
    </ul>

    <div class="table-component">
      <vdi-table-component [data]="dataTable" [collection]="collection" [spinner]="spinner" [into]="true"></vdi-table-component>
    </div>
  </div>


</div>