:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flexable-height {
  flex-wrap: wrap;
  height: auto;
  min-height: auto;
  padding: 10px;

  > button {
    height: 36px;
  }
}

.events {
  &-checkbox {
    padding: 0 10px;
  }

  &-field {
    padding: 0 10px;
    max-width: 200px;
  }
}

.table-with-pagination {
  overflow: hidden;
}

.ctrl-btn {
  height: 36px !important;
}