.pages {
	position: relative;
	width: fit-content;
	height: 22px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	align-items: center;
	display: flex;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	margin: auto;
	top: -1px;
	box-shadow: 0px 0px 15px -5px #d5d5d5;

	> span {
		margin-right: 10px;
    margin-left: 10px;
    padding: 0 8px;
	}

	> button {
		margin: 1px;
		height: 100%;
		outline: 0;
		border: 0;
		border-left: 1px solid #e8e8e8;
		border-radius: 0px;
		background-color: white;
		color: rgba(#000000, 0.5);
		transition: all 200ms;
    cursor: pointer;
    
    > span {
      padding: 0px 4px;
    }

    > fa-icon {
      font-size: 12px;
    }

		&:hover {
			background-color: #535f59;
			color: white;
			border-radius: 6px;
		}

		&:disabled {
			background-color: white !important;
			color: rgba(#000000, 0.3) !important;
			cursor: default !important;
		}
	}
}

@media all and (max-width: 750px) { 
	.pages > button {
		& > span {
			display: none;
		}
	}
}
