# web_app/tests/.coveragerc
# -*- coding: utf-8 -*-
# https://coverage.readthedocs.io/en/latest/config.html#run
# .coveragerc to control coverage.py

[report]
omit =
    */__init__.py
    */urls.py
    tests/*
    snapshots/*
    test_*
    fixtures.py
    conftest.py

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

ignore_errors = False
# TODO: raise up to 80
fail_under = 76