<div class="control-panel flexable-height">

  <div class="crumb">
    <fa-icon [icon]="['fas','comment']"></fa-icon>
    <span class="crumb-name">События</span>
  </div>

  <vdi-button-refresh (clickRefresh)="refresh()" ></vdi-button-refresh>
  <mat-form-field class="events-field">
    <mat-label>Тип событий</mat-label>
    <mat-select [formControl]="event_type">
      <mat-option [value]="'all'">
        Все
      </mat-option>
      <mat-option [value]="0">
        Информационные
      </mat-option>
      <mat-option [value]="1">
        Предупреждения
      </mat-option>
      <mat-option [value]="2">
        Ошибки
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="components-info">
  <div class="component-list">
    <vdi-table-component cursor="true" class="table-with-pagination" [data]="events" [collection]="collection"
      (sortListNow)="sortList($event)" (clickRowData)="clickRow($event)" entity="events"></vdi-table-component>
    <vdi-pagination [count]="count" [limit]="limit" [offset]="offset" (action)="toPage($event)"></vdi-pagination>
  </div>
</div>
