Package: veil-broker-frontend
Version: %%VER%%
Architecture: amd64
Maintainer: bazalt team <bazalt_dev@mashtab.org>
Depends: apache2
Section: devel
Priority: extra
Homepage: http://veil.mashtab.org
Description: VeiL Broker frontend
  (c) 2021 Mashtab
