# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# C extensions
*.so


.pytest_cache
.cache
.coverage

.idea/

# Temp
user_input.json