

# Alternatively you may use sentry

def setup_logger():
    LOG.setLevel(logging.DEBUG)
    console_handler = logging.StreamHandler()
    console_handler.setLevel(logging.DEBUG)
    formatter = logging.Formatter(
        "%(filename)s:%(lineno)s %(levelname)s  %(funcName)s(): %(message)s")
    console_handler.setFormatter(formatter)
    LOG.addHandler(console_handler)


setup_logger()