#deb cdrom:[OS Astra Linux 1.7.0 1.7_x86-64 DVD ]/ 1.7_x86-64 contrib main non-free
#deb https://download.astralinux.ru/astra/stable/1.7_x86-64/repository/ 1.7_x86-64  main contrib non-free
deb file://{{ smolensk_repo_main }} {{ smolensk_distr }} contrib main non-free
deb file://{{ smolensk_repo_devel }} {{ smolensk_distr }} contrib main non-free