
:host {
    width: 100% !important;
    height: 100% !important;

    background-image: url('~assets/cover-2k.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.linear-gradient {

	width: 100%;
	height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    // background: linear-gradient(to left top, #3f606b 55%, #ffffff 40%);

    background: linear-gradient(to left top, rgb(69 110 123 / 50%) 55%, rgb(255 255 255 / 70%) 40%);
}

.wrapper {
    border: 1px solid #efecec;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    padding: 6px;
    
}

.login-title {
    padding: 5px;
    font-size: 14px;
    margin: 0;
    position: absolute;
    left: 30px;
    top: 30px;
    color: #4d6775;
}

.login-field {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 2px 3px;

    p {
        width: 65%;
        padding: 0 6px;
    }
}
.form {
	width: 400px;
    border: 1px solid #c7c7c7;
    
    .form-fields {
        padding: 2px;
        margin: 3px;
    }
}

.form-message {
	flex-direction: column;
    padding: 15px;
    padding-top: 20px;
    width: 100%;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e8e8e8;
}

#exercheckbox{
  margin-right: 8px;
  cursor: pointer;
}

#reps{
    display: none;
}
 #exercheckbox:checked ~ #reps{
    display: block;
}

.ldap-field {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    flex: 1;
    justify-content: flex-end;
    color: #3e5f6a;
}

.code {
    margin: 10px 5px;
    padding: 2px 3px;
}

.copyright-login {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 8px;
}