[main_backup]
description = "Main backup"

conninfo = host={{ local_ip }} port={{ repmgrd_barman_port }} user=barman dbname=postgres
backup_method = postgres

streaming_conninfo = host={{ local_ip }} port={{ repmgrd_barman_port }} user=streaming_barman
streaming_archiver = on
slot_name = barman
;streaming_archiver_name = barman_receive_wal

