.table-component {
    font-size: 13px;
    height: 100%;

    header {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 11px;
        color: rgba(0,0,0,0.6);
        background: rgb(217, 236, 244);
        width: 100%;
        font-weight: bold;
    }

    .table-header-part {
        flex: 1;
        display: flex;
        justify-content: center;
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        cursor: pointer;
    }

    .icon-sort {
        position: absolute;
        right: 0px;
        width: 50px;
        text-align: center;
        color: #39769a;
    }

    .table-area {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        background: #fff;
        height: calc(100% - 25px);
        overflow-y: auto;
        background-color: #f5f5f5;
        background-image: linear-gradient(to right bottom, rgba(255,255,255,0) 8px, #fff 9px, rgba(255,255,255,0) 10px),linear-gradient(to left bottom, rgba(255,255,255,0) 8px, #fff 9px, rgba(255,255,255,0) 10px);
        background-repeat: repeat;
        background-size: 12px 14px, 12px 14px, 12px 11px;
        background-position: 0 0, 0 0, 0 20px;
    }

    .table-area-object {
        display: flex;
        border-bottom: 1px solid #DCDCDC;
        background: #FFF;
        cursor: default;
        min-height: 24px;
        color: rgba(0, 0, 0, 0.6);

        &:hover {
            background-color: #f9f9f9;
            color:#698f96;
        }

        &:focus {
            background-color: #f9f9f9;
            color:#698f96;
        }

        &.status-fail {
            background: #F08080;
            color: #FFF;
    
            &:hover {
                background-color: rgba(#F08080, 0.8);
            }
        }
    
        &.status-halt {
            background-color: #fbe9c7;
    
            &:hover {
                background-color: rgba(#fbe9c7, 0.8);
            }
        }
    }

    .table-area-property {
        min-height: 24px;
        display: flex;
        flex: 1;
        border-right: 1px solid #DCDCDC;
        padding: 3px 6px;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        overflow: hidden;

        > span {
            word-break: break-word;
        }

        &:last-child {
            border-right: none;
        }
    }

    .icon-group {
        position: relative;
        width: 20px;
    }

    fa-icon.status {
        position: absolute;
        bottom: -4px;
        left: 12px;
        font-size: 9px;
        &.on {
            color: #8bd22f;
        }

        &.off {
            color: #F4493C;
        }

        &.suspended {
            color: #d8a172;
        }

        &.undefined {
            color: sienna;
        }
    }

    // частные случаи столбцаtable-header-part

    .name-start {
        justify-content: flex-start;
        min-width: 30%;
    }

    .header-start {
        min-width: 30%;
    }

    .name-entity {
        margin-left: 5px;
    }

}

.cdk-overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-no-data {
    height: calc(100% - 27px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0) 8px, #fff 9px, rgba(255,255,255,0) 10px),linear-gradient(to left bottom, rgba(255,255,255,0) 8px, #fff 9px, rgba(255,255,255,0) 10px);
    background-repeat: repeat;
    background-size: 12px 14px, 12px 14px, 12px 11px;
    background-position: 0 0, 0 0, 0 20px;

    fa-icon {
        font-size: 50px;
        color: rgb(216, 216, 216);
    }
}
