body {
  background-color: #999999;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue",
    Helvetica, Arial, Verdana, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
}

* {
  margin: 0;
}

.session-over {
  display: none;
  font-size: 25px;
  text-transform: uppercase;
  width: 100vw;
  height: 50vh;
  text-align: center;
}

.session-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
}

.session-wrap i {
  font-size: 110px;
  padding-bottom: 20px;
}

button {
  cursor: pointer;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 1px;
  border: 1px solid transparent;
  color: white;
  background-color: #282828;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 300ms;
  height: 50px;
  text-align: left;
  border-radius: 3px;
  outline: 0 none;
}
.spice-menu {
  text-align: center;
  min-width: 230px;
  position: relative;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  float: right;
  transition: all 105ms;
  background: linear-gradient(to right, #282828 0%, #3f606b 173%);
  height: 100%;
}
.spice-menu-log,
.spice-menu-button {
  width: 230px;
}

i {
  padding-right: 5px;
}

button:hover {
  background-color: #edf2f6;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.SidenavClosed {
  height: 100%;
  width: 231px;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #282828;
  box-shadow: 1px 0px #00000040;
  transition: 0.1s;
  display: none;
}

.SidenavOpen button:hover {
  background-color: #5a6467;
}

.SidenavOpen {
  position: fixed;
  height: auto;
  top: 0;
  width: 231px !important;
  z-index: 1;
  right: 0;
  background-color: #282828;
  box-shadow: 1px 0px #00000040;
  transition: 0.2s;
  display: block;
  border-bottom-left-radius: 4px;
}

.SidenavOpen button {
  position: relative;
  display: flex;
  font-size: 13px;
  padding: 8px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.9) !important;
  background-color: #282828;
  cursor: pointer;
  z-index: 960;
  outline: 0;
  align-items: center;
}

.SidenavOpen button:hover {
  background-color: #5a6467;
}

.spice-menu-keys {
  display: none;
}

.SidenavOpen .spice-menu-comb {
  width: 150px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  height: 25px;
  margin: 4px auto;
}

.SidenavOpen .spice-menu-comb:active {
  background-color: #3f606b;
}

#Sidenav label {
  color: #000000;
  margin-left: 3%;
  text-shadow: 1px 1px 0px rgba(175, 210, 220, 0.8);
  position: absolute;
  font-size: 0.9em;
}
#Sidenav input {
  padding: 3px;
  background-color: #fafafa;
  border: 1px inset #999999;
  outline: none;
  float: right;
  margin-right: 3%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  max-width: 110px;
}
#Sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
  color: #000000;
}

canvas {
  border: 1px solid #000000;
}

#login {
  display: flex;
  justify-content: space-between;
  background: #282828;
  z-index: 1;
  height: 48px;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#login p {
  margin-left: 27%;
  display: inline;
  font-size: large;
}

#spice-area {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.spice-screen {
  min-height: 100vh;
  height: 100%;
  text-align: center;
  padding: 0;
  background-color: #282828;
}

/* \\Затык плохой работы resize в этом классе spice-message\\ */

.spice-message {
  width: 95%;
  height: 40%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 10px;
  font-size: 8pt;
  line-height: 1.1em;
  font-family: "Andale Mono", monospace;
  background-color: #282828;
  border: 1px inset #999999;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.spice-message p {
  margin-bottom: 0em;
  margin-top: 0em;
}
.spice-message-warning {
  color: orange;
}
.spice-message-error {
  color: #d83a3a;
}

.refresh {
  height: 48px;
  width: 48px;
  font-size: 18px;
  text-align: center;
}
.refresh i {
  padding: 0;
}
.refresh:hover {
  background-color: #282828;
  border: 1px solid white;
}

.logo {
  display: flex;
  width: 100%;
}

.spice-logo {
  position: relative;
  width: 100%;
  color: white;
  padding-top: 14px;
  padding-left: 8px;
  padding-right: 90px;
  margin-left: 10px;
}

.spice-logo img {
  width: 30px;
}

.spice-logo span {
  position: absolute;
  left: 35px;
  font-size: 16px;
  color: #dfdfe0;
}

.header-wrap {
  position: absolute;
  width: 100%;
  top: 0px;
  transition: all ease 0.2s;
}

.header-open {
  min-width: 50px;
  height: 20px;
  padding: 5px;
  text-transform: uppercase;
  background: brown;
  position: absolute;
  top: 50px;
  cursor: pointer;
  opacity: 0.2;
  left: 10px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.header-open:hover {
  opacity: 1;
  transition: all ease 0.2s;
}

#header-arrow {
  padding: 0;
}


.wrap-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: fixed;
  right: 0;
  top: 20px;
  width: 10px;
  height: 50px;
  background: rgb(136 207 178 / 70%);;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.wrap-button > i {
  padding-right: 2px;
  transform: rotate(0deg);
}

.wrap-button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: fixed;
  right: 231px;
  top: 20px;
  width: 10px;
  height: 50px;
  background: rgb(136 207 178 / 70%);;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.wrap-button-open > i {
  padding-right: 2px;
  transform: rotate(180deg);
}