.panel-btn {
    padding: 6px;
    padding-left: 7px;
    background: rgba(201, 209, 216, 0.3);
    display: flex;
    font-size: 13px;
    
     button {
        background: #FFF;
        border: none;
        padding: 5px 12px 5px;
        color: #000;
        border-radius: 100px;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.12);
        box-shadow: 0 0 0 1px rgba(0,0,0,.12);
        transition: .2s box-shadow ease-in-out;
        margin-right: 10px;
        display: flex;
        align-items: center;

        > span {
            margin-left: 5px;
        }

        &:hover {
            -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.2);
            box-shadow: 0 2px 8px rgba(0,0,0,.2);
        }

        &:last-child {
            margin-right: 0px;
        }
    } 
}