<nav>
  <ul>
    <li *ngFor="let item of listMenu;let i = index" class="menu-item" [class.activeNav]="check(item)">
      <div [routerLink]="[item.route]" class="menu-item-wrap">
        <fa-icon [icon]="['fas',item.icon]"></fa-icon>
        <span class="menu-name">{{item.name}}</span>
        <span class="icon-arrow" (click)="clickItem(i,listMenu,$event)">
          <fa-icon [icon]="['fas','chevron-up']" rotate="180" size="xs"  *ngIf="item.nested && !item.open"></fa-icon>
          <fa-icon [icon]="['fas','chevron-up']" rotate="360" size="xs"  *ngIf="item.nested && item.open"></fa-icon>
        </span>
      </div>
      <ul *ngIf="item.nested && listMenu[i].open" class="menu-nested" [@fadeInOut]>
        <li *ngFor="let itemNested of item.nested">
            <div [routerLink]="[itemNested.route]" class="menu-item-wrap menu-item-wrap__nested" [routerLinkActive]="['activeNavNested']" >
              <fa-icon [icon]="['fas',itemNested.icon]"></fa-icon>
              <span class="menu-name">{{itemNested.name}}</span>
            </div>
        </li>
      </ul>
    </li>
  </ul>
</nav>