<nav>
  <ul>
    <li *ngFor="let item of listMenu" class="menu-item" routerLinkActive="activeNav">
      <div [routerLink]="[item.route]" class="menu-item-wrap">
        <fa-icon [icon]="['fas',item.icon]"></fa-icon>
        <span>{{item.name}}</span>
      </div>
      <ul *ngIf="item.nested" class="menu-nested">
        <li *ngFor="let itemNested of item.nested">
            <div [routerLink]="[itemNested.route]" class="menu-item-wrap menu-item-wrap__nested" routerLinkActive="activeNavNested">
              <fa-icon [icon]="['fas',itemNested.icon]"></fa-icon>
              <span>{{itemNested.name}}</span>
            </div>
          <ul *ngIf="itemNested.nested" class="menu-nested">
            <li *ngFor="let itemNestedNested of itemNested.nested">
                <div [routerLink]="[itemNestedNested.route]" class="menu-item-wrap menu-item-wrap__nested" routerLinkActive="activeNavNested">
                  <fa-icon [icon]="['fas',itemNestedNested.icon]"></fa-icon>
                  <span>{{itemNestedNested.name}}</span>
                </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>