nav {
    position: fixed;
    width:200px;
    background-color: #44505a;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}

.menu-item {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    padding-left: 10px;

    &:last-child {
       margin-bottom: 0px;
    }
}

.menu-nested {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 17px;
}

fa-icon {
    margin-right: 5px;
}

.activeNav {
    border-left: 5px solid #c9d1d8;
    background: #323232;
    padding-top: 5px;
    padding-bottom: 5px;
}