
<div class="control-panel">
    
    <div class="crumb">
        <fa-icon [icon]="['fas','desktop']"></fa-icon>
        <span class="crumb-name">Пулы рабочих столов</span>
    </div>

    <button (click)="getAllPools()" class="btn-refresh">
        <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
    </button>

    <div class="control-btns">
        <button type="button" (click)="openCreatePool()">
            <fa-icon [icon]="['fas','plus-circle']"></fa-icon>
            <span class="btn-name">Добавить пул</span>
        </button>
    </div>
</div>

<vdi-table-component [data]="pools" [collection]="collection" empty="- нет пулов - " [spinner]="spinner" [cursor]="true" (clickRowData)="routeTo($event)"></vdi-table-component>