<div class="form">

  <div class="form-header">
    <p>Создание пула виртуальных машин</p>
    <button [mat-dialog-close]="true" class="form-close"><fa-icon [icon]="['fas','times-circle']" size="s"></fa-icon></button>
  </div>

  <div  class="manager-progress">
    <div class="manager-progress-step" *ngFor="let point of steps; let ind = index">
      <button  [class.step-current]="point.type===step" [class.button-completed]="point.completed" [disabled]="point.disabled" (click)="send(point.type)">{{ind + 1}}</button>
      <div class="manager-progress-step-line" [class.step-completed]="point.completed"></div>
    </div>
  </div>

  <div class="form-error" *ngIf="step === 'createPool'">
    <p *ngIf="error" [@animForm]="error">Все поля обязательны для заполнения!</p>
  </div>

  <div class="form-fields" [formGroup]="chooseTypeForm" *ngIf="step === 'chooseType'" [style.paddingBottom]="'20px'" [style.paddingLeft]="'20px'">
    <label class="field-inline">
      <fa-icon [icon]="['fas','desktop']" size="m" class="icon-pool"></fa-icon>
      <input type="radio" formControlName="type" value="Статический">
      <p class="radio-text">Статический</p>
    </label>
    <label class="field-inline">
      <fa-icon [icon]="['fas','tv']" size="m"  class="icon-pool"></fa-icon>
      <input type="radio" formControlName="type" value="Автоматический">
      <p class="radio-text">Автоматический</p>
    </label>
  </div>
  <div class="form-actions"  *ngIf="step === 'chooseType'">
    <button type="button" (click)="send('createPool')" class="form-btn"><span class="action-name">Далее</span></button>
  </div>

  <div class="form-fields" [formGroup]="createPoolForm" *ngIf="step === 'createPool'" [style.paddingBottom]="'20px'">
    <label class="field">
      <p class="field-name">Имя пула</p>
      <input type="text" [focusMe]="true" formControlName="name">
    </label>

    <label class="field" *ngIf="chooseTypeForm.value.type === 'Автоматический'">
      <mat-form-field>
        <mat-label  *ngIf="pending.controllers">Загрузка ...</mat-label>
        <mat-label  *ngIf="controllers.length && !pending.controllers">Выберите контроллер</mat-label>
        <mat-label  *ngIf="!controllers.length && !pending.controllers">- нет контроллера -</mat-label>
        <mat-select (selectionChange)="selectController($event)">
          <mat-option *ngFor="let controller of controllers" [value]="controller">
            {{controller.ip}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="chooseTypeForm.value.type === 'Автоматический' && ipController">
      <mat-form-field>
        <mat-label  *ngIf="pending.templates">Загрузка ...</mat-label>
        <mat-label  *ngIf="templates.length && !pending.templates">Выберите шаблон ВМ</mat-label>
        <mat-label  *ngIf="!templates.length && !pending.templates">- нет шаблонов -</mat-label>
        <mat-select (selectionChange)="selectTemplate($event)">
          <mat-option *ngFor="let template of templates" [value]="template">
            {{template.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="chooseTypeForm.value.type === 'Автоматический' && ipController || chooseTypeForm.value.type === 'Статический'">
      <mat-form-field>
        <mat-label  *ngIf="pending.clusters">Загрузка ...</mat-label>
        <mat-label  *ngIf="clusters.length && !pending.clusters">Выберите кластер</mat-label>
        <mat-label  *ngIf="!clusters.length && !pending.clusters">- нет кластеров -</mat-label>
        <mat-select (selectionChange)="selectCluster($event)">
          <mat-option *ngFor="let cluster of clusters" [value]="cluster">
            {{cluster.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="idCluster">
      <mat-form-field>
        <mat-label  *ngIf="pending.nodes">Загрузка ...</mat-label>
        <mat-label  *ngIf="nodes.length && !pending.nodes">Выберите сервер</mat-label>
        <mat-label  *ngIf="!nodes.length && !pending.nodes">- нет серверов -</mat-label>
        <mat-select (selectionChange)="selectNode($event)" #selectNodeRef>
          <mat-option *ngFor="let node of nodes" [value]="node">
            {{node.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="idNode">
      <mat-form-field>
        <mat-label *ngIf="pending.datapools">Загрузка ...</mat-label>
        <mat-label *ngIf="datapools.length && !pending.datapools">Выберите пул данных</mat-label>
        <mat-label *ngIf="!datapools.length && !pending.datapools">- нет пулов данных -</mat-label>
        <mat-select (selectionChange)="selectDatapool($event)" #selectDatapoolRef>
          <mat-option *ngFor="let datapool of datapools" [value]="datapool">
            {{datapool.verbose_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <label class="field" *ngIf="idDatapool && chooseTypeForm.value.type === 'Статический'">
      <mat-form-field>
        <mat-label *ngIf="pending.vms">Загрузка ...</mat-label>
        <mat-label *ngIf="vms.length && !pending.vms">Выберите свободные ВМ</mat-label>
        <mat-label *ngIf="!vms.length && !pending.vms">- нет виртуальных машин -</mat-label>
        <mat-select (selectionChange)="selectVm($event)" multiple="true" #selectVmRef>
          <mat-option *ngFor="let vm of vms" [value]="vm">
            {{vm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>

    <ng-container *ngIf="chooseTypeForm.value.type === 'Автоматический'">
      <label class="field">
        <p class="field-name">Имя шаблона для ВМ</p>
        <input type="text" formControlName="vm_name_template">
      </label>

      <div formGroupName="size"  class="field">
        <label class="field">
          <p class="field-name">Начальное количество ВМ</p>
          <input type="number" formControlName="initial_size" min="0">
          <div class="error" *ngIf="initial_size.invalid && initial_size.touched && initial_size.dirty">Начальное количество ВМ должно быть в интервале 1 - 200</div>
        </label>
    
        <label class="field">
          <p class="field-name">Максимальное количество создаваемых ВМ</p>
          <input type="number" formControlName="total_size"  min="0">
          <div class="error" *ngIf="total_size.invalid && total_size.touched && total_size.dirty">Максимальное количество создаваемых ВМ должно быть в интервале 1-1000</div>
          <div class="error" *ngIf="size_group.errors && size_group.errors.maxLessInitial && total_size.touched && total_size.dirty ">Максимальное количество ВМ не может быть меньше начального количества ВМ</div>
        </label>
      </div>
  
      <label class="field">
        <p class="field-name">Количество создаваемых ВМ</p>
        <input type="number" formControlName="reserve_size"  min="0">
        <div class="error" *ngIf="reserve_size.invalid && reserve_size.touched && reserve_size.dirty">Количество создаваемых ВМ должно быть в интервале 1-200</div>
      </label>
    </ng-container>

  </div>

  <div class="form-actions" *ngIf="step === 'createPool'">
    <button (click)="send('chooseType')" class="form-btn width-between"><span class="action-name">Назад</span></button>
    <button  (click)="send('finish-see')" class="form-btn width-between"><span class="action-name">Далее</span></button>
  </div>


  <div class="field-table" *ngIf="step === 'finish-see'" [style.paddingBottom]="'20px'">
    <h1 class="title">Информация о создаваемом пуле</h1>
    <vdi-table-into [item]="finishPoolView" [collection]="tableField"></vdi-table-into>
  </div>
  <div class="form-actions" *ngIf="step === 'finish-see'">
    <button (click)="send('createPool')" class="form-btn width-between" ><span class="action-name" >Назад</span></button>
    <button (click)="send('finish-ok')" class="form-btn width-between" ><span class="action-name">Cоздать пул</span></button>
  </div>
  
</div>