.form {
    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 10px;
    font-size: 13px;
    color:rgba(0, 0, 0, 0.7);


    .form-header {
        height: 30px;
        background: #081c2d;
        color: #FFF;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 4px;

        button.form-close {
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;

            > fa-icon {
                color: #FFF;

                &:hover {
                    color: rgba(255,255,255,0.5);
                    transition: color 200ms;
                }
            }
        }
    }

    h1.title {
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 14px;
        margin-left: 20px;
    }
    
    .form-fields {
        padding: 10px 7px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .form-message {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .field {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }

        input[type="text"],input[type="number"],textarea {
            background-color: #f9f9f9;
            border: 1px solid #e8e8e8;
            width: 100%;
            border: none;
            border: 1px solid rgba(17, 17, 17, 0.3);
            border-radius: 2px;
            color: rgba(0,0,0,0.7);
            padding-left: 12px;

            &:focus {
                outline: 0;
                box-shadow: inset 0px 0px 2px 1px #e8e8e8;
                border: 1px solid rgba(0,0,0,0.3);
            }
        }

        textarea {
            height: 80px;
        }

        input[type="text"],input[type="number"] {
            height: 30px;
        }
    }

    .field-inline {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }

        > fa-icon {
            width: 15px;
        }
    }

    
    .field-name {
        margin-bottom: 9px;
    }

    .form-actions {
        display: flex;
        justify-content: space-between;
    }

    .field-table {
        padding-bottom: 2px;
    }

    .form-btn {
        background-color: #fff;
        width: 100%;
        height: 35px;
        font-size: 13px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        color: black;
        cursor: pointer;
        transition: all 200ms;

        .action-name {
            margin-left: 3px;
        }
    
        &:hover {
            background-color: #759296;
            color: white;
            transition: all 200ms;
        }
    }
}

label {
    input[type="radio"] {
        opacity: 0;
    }

    .radio-text {
        position: relative;
        cursor: pointer;
        padding-left: 25px;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #CDD1DA;
            border-radius: 50%;
            background: #FFF;
        }

        &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #00abff;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
            opacity: 0;
            transition: .2s;
        }
    }

    & input:checked + .radio-text:after {
        opacity: 1;
    }    
}

.manager-progress {
    position: relative;
    width: calc(100% - 40px);
    margin: 20px;
    height: 6px;
    background-color: #f9f9f9;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    display: flex;

    &-step {
        position: relative;
        flex: 1;
        height: 100%;
        background-color: transparent;

        &-line {
            position: relative;
            width: 0%;
            height: 100%;
            transition: all 200ms;
            background-color: #00abff;
        }

        & > button {
            border: 0;

            position: absolute;
            top: calc(50% - 10px);
            left: calc(50% - 10px);
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid #e8e8e8;
            background-color: #f9f9f9;
            font-size: 12px;
            line-height: 0;
            color: rgba(#000000, 0.7);
            z-index: 1;
            cursor: pointer;
            padding: 0 !important;

            &:disabled {
                cursor: default;
                color: rgba(#000000, 0.3);
            }
        }

    }

    .step-completed {
        width: 100% !important;
        transition: all 200ms;
    }

    .button-completed {
        background-color: #00abff;
        color: white;
    }

    .step-current {
        background-color: #D4DAE2;
        color: rgba(#000000, 0.7);
    }
}
