:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filter {
  &-checkbox {
    padding: 0 10px;
  }

  &-field {
    padding: 0 10px;
    max-width: 200px;
  }
}

.flexable-height {
  flex-wrap: wrap;
  height: auto;
  min-height: auto;

  > button {
    height: 36px;
  }
}

.table-with-pagination {
  overflow: hidden;
}