<div class="control-panel flexable-height">
    <div class="crumb">
        <fa-icon [icon]="['fas','users']"></fa-icon>
        <span class="crumb-name">Пользователи</span>
    </div>

    <vdi-button-refresh (clickRefresh)="getAllUsers()" ></vdi-button-refresh>

    <div class="control-btns">
        <button type="button" (click)="addUser()">
            <fa-icon [icon]="['fas','plus-circle']"></fa-icon>
            <span class="btn-name">Добавить пользователя</span>
        </button>

        <button type="button" (click)="openSettings()">
            <fa-icon [icon]="['fas','cog']"></fa-icon>
            <span class="btn-name">Политика авторизации</span>
        </button>
    </div>

    <mat-form-field class="filter-field">
        <mat-label>Поиск по имени</mat-label>
        <input matInput [formControl]="username"  placeholder="">
    </mat-form-field>

    <mat-checkbox class="events-checkbox" [color]="'primary'" [formControl]="is_superuser">
        Администраторы
    </mat-checkbox>

    <mat-checkbox class="events-checkbox" [color]="'primary'" [formControl]="is_active">
        Активные пользователи
    </mat-checkbox>

    <div class="control-btns-end">
        <button *ngIf="pageRollup" class="bars-btn" (click)="toggleShow()">
            <fa-icon [icon]="['fas','bars']"></fa-icon>
        </button>
    </div>
</div>

<div class="components-info" #view>
    <div class="component-list" [class.page-wrap]="pageRollup&&!pageShow" [class.page-rollup]="pageRollup" [style.height]="pageHeight">
        <vdi-table-component class="table-with-pagination" cursor="true" [data]="users" entity="users" [collection]="collection" (sortListNow)="sortList($event)" (clickRowData)="routeTo($event)"></vdi-table-component>
        <vdi-pagination [count]="count" [limit]="limit" [offset]="offset" (action)="toPage($event)"></vdi-pagination>
    </div>

    <div class="component-details" [class.page-height-min]="pageHeight==pageHeightMin" [class.page-height-max]="pageRollup">
        <router-outlet (activate)="componentActivate()" (deactivate)="componentDeactivate()"></router-outlet>
    </div>
</div>
