<div class="control-panel">

    <div class="crumb">
        <fa-icon [icon]="['fas','server']"></fa-icon>
        <span class="crumb-name">Контроллеры</span>
    </div>

    <button (click)="getAllControllers()" class="btn-refresh" title="Обновить">
        <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
    </button>

    <div class="control-btns">
        <button type="button" (click)="addController()">
            <fa-icon [icon]="['fas','plus-circle']"></fa-icon>
            <span class="btn-name">Добавить контроллер</span>
        </button>
    </div>

</div>

<div class="components-info" #view>
    <div class="component-list" [class.page-wrap]="pageRollup" [class.page-rollup]="pageRollup" [style.height]="pageHeight">
        <vdi-table-component [data]="controllers" [collection]="collection" (sortListNow)="sortList($event)" (clickRowData)="routeTo($event)" cursor="true"></vdi-table-component>
    </div>
    <div class="component-details" [class.page-height-min]="pageHeight==pageHeightMin" [class.page-height-max]="pageRollup">
        <router-outlet (activate)="componentActivate()" (deactivate)="componentDeactivate()"></router-outlet>
    </div>
</div>
