[Unit]
Description=vdi-monitor_worker
After=syslog.target
After=network.target
#After=postgresql.service
After=redis.service
#Requires=postgresql.service
Requires=redis.service

[Service]
WorkingDirectory=/opt/veil-vdi/app
User=vdiadmin
Environment=PYTHONPATH=/opt/veil-vdi/app
OOMScoreAdjust=-1000
ExecStart=/opt/veil-vdi/env/bin/python /opt/veil-vdi/app/monitor_worker/app.py
TimeoutSec=30
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target