<div class="form">

  <div class="form-header">
    <h1>Добавление разрешения для группы {{data?.verbose_name}}</h1>
    <button [mat-dialog-close]="true" class="form-close">
      <fa-icon [icon]="['fas','times-circle']"></fa-icon>
    </button>
  </div>

  <div class="form-fields">
    <label class="field">
      <mat-form-field>
        <mat-label *ngIf="pending">Загрузка ...</mat-label>
        <mat-label *ngIf="data.permissions?.length && !pending">Выберите разрешение</mat-label>
        <mat-label *ngIf="!data.permissions?.length && !pending">- нет разрешений -</mat-label>
        <mat-select (selectionChange)="select($event)" multiple="true">
          <mat-option *ngFor="let permission of data.permissions" [value]="permission">
            {{ permission | rename}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="error" *ngIf="!valid">Выберите разрешение</div>
    </label>
  </div>

  <div class="form-actions">
    <button (click)="send()" class="form-btn">
      <fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="action-name">Добавить</span>
    </button>
  </div>

</div>
