#

version: '3.7'
services:
  vdi-postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vdi
    volumes:
      - type: volume
        source: dbdata
        target: /var/lib/postgresql/data
        volume:
          nocopy: true
  vdi-redis:
    image: redis:5-alpine
    command: redis-server --requirepass 4NZ7GpHn4IlshPhb --bind 0.0.0.0
    depends_on:
      - vdi-postgres
  vdi-migrations:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      restart_policy:
        condition: none
    env_file:
       - '.env'
    command: sh -c "cd common/migrations && alembic upgrade head || while [ $$? -ne 0 ]; do alembic upgrade head; done"
    depends_on:
      - vdi-postgres
  vdi-tornado:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    env_file:
       - '.env'
    command: sh -c "sleep 15 && python web_app/app.py --logging=DEBUG --address=0.0.0.0"
    depends_on:
      - vdi-postgres
      - vdi-redis
      - vdi-migrations
  vdi-pool-worker:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    env_file:
       - '.env'
    command: sh -c "sleep 15 && python pool_worker/app.py"
    depends_on:
      - vdi-tornado
  vdi-vm-manager:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    env_file:
       - '.env'
    command: sh -c "sleep 15 && python vm_manager/app.py"
    depends_on:
      - vdi-tornado
  vdi-monitor-worker:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    env_file:
       - '.env'
    command: sh -c "sleep 15 && python monitor_worker/app.py"
    depends_on:
      - vdi-tornado
      - vdi-pool-worker
  vdi-frontend:
    image: nexus.bazalt.team/veil-broker-frontend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    depends_on:
      - vdi-tornado
    ports:
      - "443:443"
      - "80:80"
  vdi-guacamole:
    image: guacamole/guacd:1.3.0
    depends_on:
      - vdi-tornado

volumes:
  dbdata: