#

version: '3.7'
services:
  vdi-postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vdi
    deploy:
      placement:
        constraints: [node.role == manager]
    volumes:
      - type: volume
        source: dbdata
        target: /var/lib/postgresql/data
        volume:
          nocopy: true
  vdi-redis:
    image: redis:5-alpine
    command: redis-server --requirepass 4NZ7GpHn4IlshPhb --bind 0.0.0.0
    depends_on:
      - vdi-postgres
  vdi-migrations:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      restart_policy:
        condition: none
    environment:
      - PYTHONPATH=/opt/broker-backend/app
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONPYCACHEPREFIX=/tmp
      - VDI_BROKER_DB_HOST=vdi-postgres
    command: sh -c "sleep 5 && cd common/migrations && alembic upgrade head && exit 0"
    depends_on:
      - vdi-postgres
  vdi-tornado:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    environment:
      - PYTHONPATH=/opt/broker-backend/app
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONPYCACHEPREFIX=/tmp
      - VDI_BROKER_DB_HOST=vdi-postgres
      - VDI_BROKER_REDIS_HOST=vdi-redis
    command: sh -c "python web_app/app.py --logging=DEBUG --address=0.0.0.0"
    depends_on:
      - vdi-postgres
      - vdi-redis
      - vdi-migrations
  vdi-pool-worker:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    environment:
      - PYTHONPATH=/opt/broker-backend/app
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONPYCACHEPREFIX=/tmp
      - VDI_BROKER_DB_HOST=vdi-postgres
      - VDI_BROKER_REDIS_HOST=vdi-redis
    command: sh -c "python pool_worker/app.py"
    depends_on:
      - vdi-tornado
  vdi-monitor-worker:
    image: nexus.bazalt.team/veil-broker-backend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    environment:
      - PYTHONPATH=/opt/broker-backend/app
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONPYCACHEPREFIX=/tmp
      - VDI_BROKER_DB_HOST=vdi-postgres
      - VDI_BROKER_REDIS_HOST=vdi-redis
    command: sh -c "python monitor_worker/app.py"
    depends_on:
      - vdi-tornado
      - vdi-pool-worker
  vdi-frontend:
    image: nexus.bazalt.team/veil-broker-frontend:latest
    deploy:
      mode: global
      update_config:
        parallelism: 1
    depends_on:
      - vdi-tornado
    ports:
      - "443:443"
      - "80:80"
  vdi-guacamole:
    image: guacamole/guacd:1.3.0
    depends_on:
      - vdi-tornado

volumes:
  dbdata: