


      
<div class="details-wrap">

    <div class="details-header">
        <div class="title"><fa-icon [icon]="['fas','desktop']" size="s" ></fa-icon><span class="name">Пул <span *ngIf="host">{{pool?.name}}</span></span></div>
        <div class="btns-part">
            <button class="btn-close" (click)="close()"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
        </div>
    </div>
    <div class="details-control-panel">
        <button (click)="getPool()" class="btn-refresh" title="Обновить"><fa-icon [icon]="['fas','sync-alt']"></fa-icon></button>
        <button (click)="removePool()" *ngIf="menuActive === 'info'" title="Удалить пул" class="btn-control"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="name">Удалить</span></button>

        <ng-container *ngIf="menuActive === 'vms' && typePool === 'static'">
            <button (click)="addVM()" title="Добавить ВМ в пул" class="btn-control"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="name">Добавить</span></button>
            <button (click)="removeVM()" title="Удалить ВМ из пула" class="btn-control"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="name">Удалить</span></button>
        </ng-container>

        <ng-container *ngIf="menuActive === 'users'">
            <button (click)="addUsers()" title="Добавить пользователей" class="btn-control"><fa-icon [icon]="['fas','plus-circle']" size="xs"></fa-icon><span class="name">Добавить</span></button>
            <button (click)="removeUsers()" title="Удалить пользователей" class="btn-control"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="name">Удалить</span></button>
        </ng-container>
    </div>

    <div class="details-row">
        <ul class="details-menu">
            <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация о пуле"> <fa-icon [icon]="['fas','chart-bar']"></fa-icon><span class="name">Информация</span></li>
            <li (click)="routeTo('vms')" [class.active]="menuActive === 'vms'" title="Виртуальные машины в пуле"> <fa-icon [icon]="['fas','desktop']"></fa-icon><span class="name">Виртуальные машины</span></li>
            <li (click)="routeTo('users')" [class.active]="menuActive === 'users'" title="Пользователи пула"> <fa-icon [icon]="['fas','users']"></fa-icon><span class="name">Пользователи</span></li>
        </ul>
        
        <div class="details-slide" *ngIf="host">
            <div class="details-slide-header">
                <ng-container *ngIf="menuActive === 'info'">Информация о пулах рабочих столов</ng-container>
                <ng-container *ngIf="menuActive === 'vms'">ВМ в пуле</ng-container>
                <ng-container *ngIf="menuActive === 'users'">Пользователи пула</ng-container>
            </div>
            <div class="details-slide-into">
                <ng-container *ngIf="typePool === 'automated'">
                    <vdi-table-into *ngIf="menuActive === 'info'" [data]="pool" [collection]="collectionDetailsAutomated"></vdi-table-into>
                    <vdi-table-component *ngIf="menuActive === 'vms'" [data]="pool?.vms" [collection]="collectionVmsAutomated" (clickRowData)="clickVm($event)" cursor="true"></vdi-table-component> 
                </ng-container>

                <ng-container *ngIf="typePool === 'static'">
                    <vdi-table-into *ngIf="menuActive === 'info'" [data]="pool" [collection]="collectionDetailsStatic"></vdi-table-into>
                    <vdi-table-component *ngIf="menuActive === 'vms'" [data]="pool?.vms" [collection]="collectionVmsStatic" (clickRowData)="clickVm($event)" cursor="true"></vdi-table-component> 
                </ng-container>

                <vdi-table-component *ngIf="menuActive === 'users'" [data]="pool?.users" [collection]="collectionUsers"></vdi-table-component> 
            </div>     
        </div>
    </div>

</div>