

<ng-container *ngIf="data && data.length && !spinner">
  <div class="table-component" *ngIf="!spinner">
    <header>
      <div *ngFor="let obj of collection" class="table-header-part" [class.index-column]="obj.property == 'index'" [class.name_width]="obj.property == 'verbose_name'">
        {{obj.title}}
      </div>
    </header>

    <div class="table-area" *ngIf="data && data.length">
      <div *ngFor="let item of data;let i = index" class="table-area-object" [class.cursorTrue]="cursor" (click)="clickRow(item)" tabindex="-1">   <!--строка-->
        <div class="table-area-property" *ngFor="let obj of collection" [class.index-column]="obj.property == 'index'" [class.name_width]="obj.property == 'verbose_name'"> <!--столбец-->
          <span *ngIf="obj.property == 'index'">{{ i+1 }}</span>
          <span *ngIf="obj.property_boolean_true">
            <ng-container *ngIf="obj.property_boolean">{{ obj.property_boolean_true }}</ng-container>
            <ng-container *ngIf="!obj.property_boolean">{{ obj.property_boolean_false }}</ng-container>
          </span>

          <span *ngIf="obj.property_lv2 && item[obj.property]">{{ item[obj.property][obj.property_lv2] || '--' }}</span>
          <span *ngIf="obj.property_lv2 && !item[obj.property]"> -- </span>

          <span *ngIf="!obj.property_lv2 && !obj.property_lv2_array && !obj.property_lv2_wrap && !obj.property_boolean_true">{{ item[obj.property] || '--' }}</span>
          <span *ngIf="obj.property_lv2_wrap"><span>/</span>{{ item[obj.property][obj.property_lv2_prop2] || '--' }}</span>
          <span *ngIf="obj.property_lv2_array">{{ item[obj.property][obj.property_lv2_array].length || '--' }}</span>
        </div> 
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data && !data.length && !spinner">
  <div class="table-component">
    <div class="table-area-object">
      <div class="table-area-property">
        <span>{{ empty }}</span>
      </div>
    </div>
  </div>
</ng-container>


<div *ngIf="spinner" class="cdk-overlay-container">
  <div class="cdk-overlay-backdrop cdk-overlay-backdrop-showing"></div>
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x"></fa-icon>
</div>

