.table-component {
    background: #FFF;
    width: 100%;
    margin-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    box-shadow: 0 0 10px rgba(119, 136, 153, 0.2);

    header {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        background: rgb(217, 236, 244);
        width: 100%;
        font-weight: bold;
        font-family: Arial;

        &.into-table {
            background: whitesmoke;
        }
    }

    .table-header-part {
        flex: 1;
        text-align: center;
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table-area {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .table-area-object {
        display: flex;
        border-bottom: 1px solid #DCDCDC;
        color: #44505a;
        cursor: default;

        &:hover {
            background: rgba(201, 209, 216, 0.3);
        }

        &:focus {
            background: rgba(201, 209, 216, 0.3);
        }
    }

    .table-area-property {
        display: flex;
        flex: 1;
        border-right: 1px solid #DCDCDC;
        padding: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        overflow: hidden;

        > span {
            word-break: break-word;
        }

        &:last-child {
            border-right: none;
        }
    }

    // частные случаи столбца
    .index-column { 
        width: 50px;
        flex: inherit;
    }

    .name_width {
        min-width: 30%;
    }
}

.cdk-overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
