
<div class="top-menu">
  <a class="top-menu-item" (click)="routeTo('controllers')" (keydown.enter)="routeTo('controllers')"
    [class.clicked-link]="clickedManage == 'controllers'" tabindex="0">
    <fa-icon title="Контроллеры" [icon]="['fas','server']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Контроллеры</span>
  </a>

  <a class="top-menu-item" (click)="routeTo('pools')" (keydown.enter)="routeTo('pools')" [class.clicked-link]="clickedManage == 'pools'" tabindex="0">
    <fa-icon [icon]="['fas','desktop']" size="s" [style.color]="'#ea4c38'" title="Пулы"></fa-icon>
    <span>Пулы</span>
  </a>

  <a class="top-menu-item item-hat" (click)="thinToggle()" (keydown.enter)="thinToggle()" tabindex="0">
    <fa-icon [icon]="['fas','laptop']" size="s" [style.color]="'#00c4ff'" title="Тонкие клиенты"></fa-icon>
    <span>Тонкие клиенты</span>

    <span class="icon-arrow">
      <fa-icon [icon]="['fas','chevron-up']" size="xs" *ngIf="toggleThin"></fa-icon>
      <fa-icon [icon]="['fas','chevron-up']" size="xs" rotate="180" *ngIf="!toggleThin"></fa-icon>
    </span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleThin" (click)="routeTo('clients/session')" (keydown.enter)="routeTo('clients/session')" [class.clicked-link]="clickedManage == 'session'" tabindex="0">
    <fa-icon [icon]="['fas','exchange-alt']" size="s" [style.color]="'#00c4ff'" title="Тонкие клиенты"></fa-icon>
    <span>Сессии</span>
  </a>

<!--   <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleThin" (click)="routeTo('clients/statistic')" (keydown.enter)="routeTo('clients/statistic')" [class.clicked-link]="clickedManage == 'statistic'" tabindex="0">
    <fa-icon [icon]="['fas','comment']" size="s" [style.color]="'#00c4ff'" title="Тонкие клиенты"></fa-icon>
    <span>Статистика</span>
  </a> -->

  <a class="top-menu-item item-hat" (click)="resourseToggle()" (keydown.enter)="resourseToggle()" tabindex="0">
    <fa-icon [icon]="['fas','database']" size="s" title="Ресурсы"></fa-icon>
    <span>Ресурсы</span>
    <span class="icon-arrow">
      <fa-icon [icon]="['fas','chevron-up']" size="xs" *ngIf="toggleResourse"></fa-icon>
      <fa-icon [icon]="['fas','chevron-up']" size="xs" rotate="180" *ngIf="!toggleResourse"></fa-icon>
    </span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleResourse" (click)="routeTo('resourses/clusters')" (keydown.enter)="routeTo('resourses/clusters')" [class.clicked-link]="clickedManage == 'clusters'"  tabindex="0">
    <fa-icon title="Кластеры" [icon]="['fas','building']" size="s" [style.color]="'rgb(212, 165, 255)'"></fa-icon>
    <span>Кластеры</span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleResourse" (click)="routeTo('resourses/resource_pools')" (keydown.enter)="routeTo('resourses/resource_pools')" [class.clicked-link]="clickedManage == 'resource_pools'"  tabindex="0">
    <fa-icon title="Пулы ресурсов" [icon]="['fas','database']" size="s" [style.color]="'rgb(162, 189, 153)'"></fa-icon>
    <span>Пулы ресурсов</span>
  </a>

  <a class="top-menu-item item-tree"  [@fadeInOut] *ngIf="toggleResourse" (click)="routeTo('resourses/nodes')" (keydown.enter)="routeTo('resourses/nodes')" [class.clicked-link]="clickedManage == 'nodes'"  tabindex="0">
    <fa-icon  title="Серверы" [icon]="['fas','server']" size="s" [style.color]="'rgb(239, 134, 95)'"></fa-icon>
    <span>Серверы</span>
  </a>

  <a class="top-menu-item item-tree"  [@fadeInOut] *ngIf="toggleResourse" (click)="routeTo('resourses/datapools')" (keydown.enter)="routeTo('resourses/datapools')" [class.clicked-link]="clickedManage == 'datapools'"  tabindex="0">
    <fa-icon title="Пулы данных" [icon]="['fas','folder-open']" size="s" [style.color]="'rgb(151, 197, 125)'"></fa-icon>
    <span>Пулы данных</span>
  </a>

  <a class="top-menu-item item-tree"  [@fadeInOut] *ngIf="toggleResourse"  (click)="routeTo('resourses/templates')" (keydown.enter)="routeTo('resourses/templates')" [class.clicked-link]="clickedManage == 'templates'"  tabindex="0">
    <fa-icon title="Шаблоны" [icon]="['fas','tv']" size="s" [style.color]="'rgb(255, 248, 220)'"></fa-icon>
    <span>Шаблоны</span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleResourse"  (click)="routeTo('resourses/vms')" (keydown.enter)="routeTo('resourses/vms')" [class.clicked-link]="clickedManage == 'vms'"  tabindex="0">
    <fa-icon title="Виртуальные машины" [icon]="['fas','desktop']" size="s" [style.color]="'rgb(140, 181, 210)'"></fa-icon>
    <span>Виртуальные машины</span>
  </a>

  <a class="top-menu-item item-hat" (click)="settingToggle()"  tabindex="0" (keydown.enter)="settingToggle()" [@fadeInOut]>
    <fa-icon  title="Настройки" [icon]="['fas','cog']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Настройки</span>
    <span class="icon-arrow">
      <fa-icon [icon]="['fas','chevron-up']" size="xs" *ngIf="toggleSetting"></fa-icon>
      <fa-icon [icon]="['fas','chevron-up']" size="xs" rotate="180" *ngIf="!toggleSetting"></fa-icon>
    </span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleSetting" (click)="routeTo('settings/license')" (keydown.enter)="routeTo('settings/license')" [class.clicked-link]="clickedManage =='license'"  tabindex="0">
    <fa-icon title="Лицензирование" [icon]="['fas','id-card']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Лицензирование</span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleSetting" (click)="routeTo('settings/groups')" (keydown.enter)="routeTo('settings/groups')" [class.clicked-link]="clickedManage =='groups'"  tabindex="0">
    <fa-icon title="Пользователи" [icon]="['fas','users-cog']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Группы</span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleSetting" (click)="routeTo('settings/users')" (keydown.enter)="routeTo('settings/users')" [class.clicked-link]="clickedManage =='users'"  tabindex="0">
    <fa-icon title="Пользователи" [icon]="['fas','users']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Пользователи</span>
  </a>

  <a class="top-menu-item item-tree"
    [@fadeInOut]
    *ngIf="toggleSetting"
    (click)="routeTo('settings/auth-directory')"
    (keydown.enter)="routeTo('settings/auth-directory')"
    [class.clicked-link]="clickedManage =='auth-directory'"
    tabindex="0">
    <fa-icon [icon]="['fas','address-card']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Службы каталогов</span>
  </a>

  <a class="top-menu-item item-tree"
    [@fadeInOut]
    *ngIf="toggleSetting"
    (click)="routeTo('settings/services')"
    (keydown.enter)="routeTo('settings/services')"
    [class.clicked-link]="clickedManage =='services'"
    tabindex="0">
    <fa-icon [icon]="['fas','address-card']" size="s" [style.color]="'rgb(255, 235, 205)'"></fa-icon>
    <span>Сервисы</span>
  </a>

  <a class="top-menu-item item-hat" (click)="logToggle()"  tabindex="0" (keydown.enter)="logToggle()" [@fadeInOut]>
    <fa-icon title="Журнал" [icon]="['fas','clipboard-list']" size="s" [style.color]="'rgb(94, 185, 161)'"></fa-icon>
    <span>Журнал</span>
    <span class="icon-arrow">
      <fa-icon [icon]="['fas','chevron-up']" size="xs" *ngIf="toggleLog"></fa-icon>
      <fa-icon [icon]="['fas','chevron-up']" size="xs" rotate="180" *ngIf="!toggleLog"></fa-icon>
    </span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleLog" (click)="routeTo('log/events')" (keydown.enter)="routeTo('log/events')" [class.clicked-link]="clickedManage =='events'"  tabindex="0">
    <fa-icon title="События" [icon]="['fas','comment']" size="s" [style.color]="'rgb(94, 185, 161)'"></fa-icon>
    <span>События</span>
  </a>

    <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleLog" (click)="routeTo('log/veil-events')" (keydown.enter)="routeTo('log/veil-events')" [class.clicked-link]="clickedManage =='veil-events'"  tabindex="0">
    <fa-icon title="События" [icon]="['fas','comment']" size="s" [style.color]="'rgb(94, 185, 161)'"></fa-icon>
    <span>События ECP VeiL</span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleLog" (click)="routeTo('log/tasks')" (keydown.enter)="routeTo('log/tasks')" [class.clicked-link]="clickedManage =='tasks'"  tabindex="0">
    <fa-icon title="События" [icon]="['fas','gavel']" size="s" [style.color]="'rgb(94, 185, 161)'"></fa-icon>
    <span>Задачи</span>
  </a>

  <a class="top-menu-item item-tree" [@fadeInOut] *ngIf="toggleLog" (click)="routeTo('log/setting')" (keydown.enter)="routeTo('log/setting')" [class.clicked-link]="clickedManage =='setting'"  tabindex="0">
    <fa-icon title="События" [icon]="['fas','cog']" size="s" [style.color]="'rgb(94, 185, 161)'"></fa-icon>
    <span>Настройки</span>
  </a>
</div>
