<div class="log" *ngIf="openedLog">
  <div class="log-header">
    <span *ngIf="log == 'events'">Все события</span>
    <span *ngIf="log == 'events-warning'">События (предупреждения)</span>
    <span *ngIf="log == 'events-error'">События (ошибки)</span>
    <span *ngIf="log == 'tasks'">Все задачи</span>

    <button class="log-close" (click)="closeLog()">
      <fa-icon [icon]="['fas','times-circle']"></fa-icon>
    </button>
  </div>

  <div class="log-container">
    <vdi-events *ngIf="log == 'events'" [controls]="false"></vdi-events>
    <vdi-events *ngIf="log == 'events-warning'" [type]="1" [controls]="false"></vdi-events>
    <vdi-events *ngIf="log == 'events-error'" [type]="2" [controls]="false"></vdi-events>
    <vdi-tasks *ngIf="log == 'tasks'" [controls]="false"></vdi-tasks>
  </div>
</div>

<footer>
  <div class="footer-log">
    <button class="footer-log-button" (click)="openLog('events')">
      <fa-icon [icon]="['fas','comment']" class="extra-icon" [style.color]="'rgb(94, 185, 161)'" title="События"></fa-icon>
      <span>{{ countEvents?.all || 0 }}</span>
    </button>

    <div class="log-group-types">
      <button class="footer-log-button" (click)="openLog('events-error')">
        <fa-icon [icon]="['fas', 'times-circle']" class="extra-icon" [style.color]="'rgb(208, 61, 61)'" title="Ошибка"></fa-icon>
        <span>{{ countEvents?.error || 0 }}</span>
      </button>

      <button class="footer-log-button" (click)="openLog('events-warning')">
        <fa-icon [icon]="['fas', 'exclamation-triangle']" class="extra-icon" [style.color]="'rgb(231, 186, 8)'" title="Предупреждение"></fa-icon>
        <span>{{ countEvents?.warning || 0 }}</span>
      </button>
    </div>

    <button class="footer-log-button" (click)="openLog('tasks')">
      <fa-icon [icon]="['fas','gavel']" class="extra-icon" [style.color]="'rgb(103, 161, 203)'" title="Задачи"></fa-icon>
    </button>
  </div>

  <div class="license">
    <span *ngIf="time" title="Время на контроллере: {{ time | date:'dd.MM.yyyy HH:mm:ss':timezone }} {{ timezone }}">Время на контроллере: {{ time | date:'dd.MM.yyyy HH:mm:ss':timezone }} {{ timezone }}</span>
    <span *ngIf="license.remaining_days < 100" [class.warning]="!license.remaining_days" title="Дней до окончания лицензии: {{ license.remaining_days || 0 }}"> Дней до окончания лицензии: {{ license.remaining_days || 0 }}</span>
    <span *ngIf="license.support_remaining_days < 100" [class.warning]="!license.support_remaining_days" title="Дней до окончания сервисной поддержки: {{ license.support_remaining_days || 0 }}">Дней до окончания сервисной поддержки: {{ license.support_remaining_days || 0 }}</span>
  </div>

  <div class="copyright" *ngIf="(info$ | async) as info"> 
    {{ info.comment }} &nbsp;
    <a href="{{ info.url }}" target="_blank">{{ info.copyright }}</a>
    <span>, {{ info.year }} версия {{ info.version }}</span>
  </div>
</footer>