
<div class="details-wrap">

    <div class="details-header">
        <div class="title"><fa-icon [icon]="['fas','server']" size="s" ></fa-icon><span class="name">Контроллер <span *ngIf="host">{{controller?.verbose_name}}</span></span></div>
        <div class="btns-part">
            <button class="btn-close" (click)="close()"><fa-icon [icon]="['fas','times-circle']"></fa-icon></button>
        </div>
    </div>
    <div class="details-control-panel">
        <vdi-button-refresh (clickRefresh)="getController()" ></vdi-button-refresh>
        <button (click)="removeController()" title="Удалить контроллер" class="btn-control"><fa-icon [icon]="['fas','trash-alt']" size="xs"></fa-icon><span class="name">Удалить контроллер</span></button>
        <button (click)="test()" title="Проверить соединение" class="btn-control">
            <fa-icon [class.rotation]="testing" [icon]="['fas','sync-alt']" size="xs"></fa-icon>
            <span class="name">Проверка соединения</span>

            <fa-icon *ngIf="tested && connected" class="ad-status ad-success" [icon]="['fas','check']" size="xs"></fa-icon>
            <fa-icon *ngIf="tested && !connected" class="ad-status ad-failed" [icon]="['fas','times-circle']" size="xs"></fa-icon>

            <span class="ad-status-text" [class.ad-success]="connected" [class.ad-failed]="!connected" *ngIf="tested">{{ connected ? 'Успешно' : 'Нет соединения' }}</span>
        </button>

        <!-- <div class="toggle" title="Включенный сервисный режим деактивирует контроллер, все операции с контроллером становятся неактивными">
          <label class="switch">
            <input type="checkbox" (click)="toggleService($event)" [checked]="controller?.status == 'SERVICE'">
            <span class="slider"></span>
            <span class="slider-name" *ngIf="controller?.status != 'SERVICE'">Включить сервисный режим</span>
            <span class="slider-name" *ngIf="controller?.status == 'SERVICE'">Сервисный режим</span>
          </label>
        </div> -->
        
        <div class="control">
            <vdi-checkbox-input [formControl]='is_service' (click)="toggleService($event)">Сервисный режим</vdi-checkbox-input>
        </div>
        
    </div>

    <div class="details-row">
        <ul class="details-menu">
            <li (click)="routeTo('info')" [class.active]="menuActive === 'info'" title="Информация о пуле"> <fa-icon [icon]="['fas','chart-bar']"></fa-icon><span class="name">Информация</span></li>
            <li (click)="routeTo('clusters')" [class.active]="menuActive === 'clusters'" title="Кластеры"><fa-icon [icon]="['fas','building']"></fa-icon><span class="name">Кластеры</span></li>
            <li (click)="routeTo('resource_pools')" [class.active]="menuActive === 'resource_pools'" title="Пулы ресурсов"><fa-icon [icon]="['fas','database']"></fa-icon><span class="name">Пулы ресурсов</span></li>
            <li (click)="routeTo('servers')" [class.active]="menuActive === 'servers'" title="Серверы"><fa-icon [icon]="['fas','server']"></fa-icon><span class="name">Серверы</span></li>
            <li (click)="routeTo('datapools')" [class.active]="menuActive === 'datapools'" title="Пулы данных"><fa-icon [icon]="['fas','folder-open']"></fa-icon><span class="name">Пулы данных</span></li>
            <li (click)="routeTo('vms')" [class.active]="menuActive === 'vms'" title="Виртуальные машины"><fa-icon [icon]="['fas','desktop']"></fa-icon><span class="name">Виртуальные машины</span></li>
            <li (click)="routeTo('templates')" [class.active]="menuActive === 'templates'" title="Шаблоны виртуальных машин"><fa-icon [icon]="['fas','tv']"></fa-icon><span class="name">Шаблоны ВМ</span></li>
            <li (click)="routeTo('veil-events')" [class.active]="menuActive === 'veil-events'" title="События контроллеров"><fa-icon [icon]="['fas','comment']"></fa-icon><span class="name">События контроллеров</span></li>
        </ul>

        <div class="details-slide" *ngIf="host">
            <div class="details-slide-header">
                <ng-container *ngIf="menuActive === 'info'">Информация о контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'clusters'">Кластеры на контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'resource_pools'">Пулы ресурсов на контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'servers'">Серверы на контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'datapools'">Пулы данных на контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'templates'">Шаблоны ВМ на контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'vms'">ВМ на контроллере</ng-container>
                <ng-container *ngIf="menuActive === 'veil-events'">События контроллеров</ng-container>
            </div>
            <div class="details-slide-into">
                <vdi-table-into *ngIf="menuActive === 'info'" [item]="controller" [collection]="collection" (edit)="edit($event)"></vdi-table-into>
                <vdi-clusters [filter]="filter" *ngIf="menuActive === 'clusters'"></vdi-clusters>
                <vdi-resource_pools [filter]="filter" *ngIf="menuActive === 'resource_pools'"></vdi-resource_pools>
                <vdi-nodes [filter]="filter" *ngIf="menuActive === 'servers'"></vdi-nodes>
                <vdi-datapools [filter]="filter" *ngIf="menuActive === 'datapools'"></vdi-datapools>
                <vdi-vms [filter]="filter" *ngIf="menuActive === 'vms'"></vdi-vms>
                <vdi-templates [filter]="filter" *ngIf="menuActive === 'templates'"></vdi-templates>
                <vdi-controller-events [controller]="controller" *ngIf="menuActive === 'veil-events'"></vdi-controller-events>
            </div>
        </div>
    </div>

</div>
