.checkbox-bg {
    display: inline-flex;
    align-items: center;

    > label {
        margin: 0;
    }

    .toggle-btn {
        display: inline-flex;
        min-width: 36px;
        max-width: 36px;
        height: 18px;
        border-radius: 50px;
        position: relative;
        background: #5a6f88; //#d03d3d;
        cursor: pointer;
        transition: background-color .15s ease-in-out;
        margin: 0px;
        padding: 0;

        &::before { 
            content: "";
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            left: 1px;
            transition: all .15s ease-in-out;
            box-shadow :inset 0px 0px 1px 0px rgba(0,0,0,0.9);
            z-index: 2;
        }
    }

    .checkbox-bg-text {
        margin-left: 10px !important;
        cursor: pointer;
        padding: 0;
    }

    input[type='checkbox'] {
        display: none;
        &:checked  + .toggle-btn {
            background: #4b9667; //#3f606b;

            &::before{
                left: 19px;
            }

            &::after {
                content: "";
                position: absolute;
                background-image: url('~assets/check.svg');
                background-repeat: no-repeat;
                width: 10px;
                height: 10px;
                top: 5px;
                left: 5px;
                z-index: 1;
            }

            & span {
                display: none;
            }
        }

        &:disabled {
            +  .toggle-btn {
                background: rgba(71, 71, 71,0.5);
                cursor: default;

                &::before  {
                    opacity: 0.5;
                }
            }

            ~ .checkbox-bg-text {
                cursor:  default !important;
            }
        }
    }
}