Package: vdi-frontend
Version: %%VER%%
Architecture: amd64
Maintainer: bazalt team <bazalt_dev@mashtab.org>
Depends:
Section: devel
Priority: extra
Homepage: http://veil.mashtab.org
Description: ECP VeiL docs.
  (c) 2020 Mashtab
