<div class="details-control-panel">
  <ng-content select="[slot=refreshButton]" ></ng-content>  
  
  <button  class="btn-control" (click)="onClickAction('start')" title="Запуск">
    <fa-icon [icon]="['fas','play-circle']"></fa-icon>
  </button>

  <button  class="btn-control" (click)="onClickAction('suspend')" title="Приостановить">
    <fa-icon [icon]="['fas','pause-circle']"></fa-icon>
  </button>

  <button  class="btn-control" (click)="onClickAction('shutdown')" title="Выключить">
    <fa-icon [icon]="['fas','stop-circle']"></fa-icon>
  </button>

  <button  class="btn-control" (click)="onClickAction('force_shutdown')" title="Выключить форсировано">
    <fa-icon [icon]="['fas','power-off']"></fa-icon>
  </button>

  <button  class="btn-control" (click)="onClickAction('reboot')" title="Перезагрузить">
    <fa-icon [icon]="['fas','undo']"></fa-icon>
  </button>

  <button  class="btn-control" (click)="onClickAction('force_reboot')" title="Перезагрузить форсировано">
    <fa-icon [icon]="['fas','fire']"></fa-icon>
  </button>
  
  <button  class="btn-control" mat-button [matMenuTriggerFor]="menu" title="Помощь">
    Помощь
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onClickOpenDialog()">Открыть диалог с админом</button>
    <a mat-menu-item href='https://veil.mashtab.org/products/veil_vdi/' target="_blank" >Официальная страница ECP Veil</a>
    <a mat-menu-item href="/docs" target="_blank">Документация</a>
    <button mat-menu-item>Информация о соединении</button>
  </mat-menu>
</div>