#connection-window {
     margin: 0;
     background: linear-gradient(to left top, #3c647b 20%, #b0e2d9 55%, #ffffff 40%);
     font-family: Arial, Helvetica, sans-serif;
}

#connection-window-box {
     padding-bottom: 30px;
}

#title-label {
     font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     padding: 0 20px;
     font-size: 35px;
     color: #6f9ba4;
     margin: 40px 0px;
}

#fields-box {
     min-width: 450px;
     background: #f7f7f7;
     padding: 20px;
     margin: 10px;
     border: 1px solid #c5c5c5;
     outline: 1px solid white;
     padding-bottom: 0px;
     box-shadow: 0px 0px 0 4px white;
}

#user-name-label, #password-label {
     color: #77818a;
     font-size: 15px;
     margin: 0;
     margin-right: 6px;
     padding-right: 12px;
}

#login-entry, #password-entry {
     min-height: 25px;
     border: 0;
     border-radius: 3px;
     background: white;
     padding-left: 12px;
     border: 1px solid #c1bfbf;
     border-radius: 2px;
     color: rgba(0, 0, 0, 0.7);
     text-decoration: none;
     -webkit-appearance: none;
     margin: 3px;
     margin-bottom: 6px;
     transition: all 200ms;
}

#message-display-label {
     font-size: 13px;
}

#connect-button {
     background: white;
     border: 0;
     outline: oldlace;
     color: #867373;
     border: 1px solid #c1bfbf;
     border-radius: 2px;
     padding: 10px 40px;
     margin: 2px 140px;
     margin-bottom: 0;
     transition: all 200ms;
     margin-top: 40px;
}

#btn_settings {
     background: transparent;
     padding: 10px;
     font-size: 12px;
     font-family: sans-serif;
     color: white;
     text-decoration: underline;
     border: 0;
     outline: 0;
     transition: all 200ms;
}

#btn_settings:hover {
     color: #97c6dc;
     transition: all 200ms;
}

#start-setting {
     font-family: Arial, Helvetica, sans-serif;
     background: white;
}


#connection-address-entry, #connection-port-entry, #domain-entry {
     min-height: 25px;
     min-width: 200px;
     border: 0;
     border-radius: 3px;
     background: white;
     padding-left: 12px;
     border: 1px solid #c1bfbf;
     border-radius: 2px;
     color: rgba(0, 0, 0, 0.7);
     text-decoration: none;
     -webkit-appearance: none;
     margin: 3px;
     margin-bottom: 6px;
     transition: all 500ms;
}

#start-setting-domain {
     border-bottom: 1px solid #c1bfbf;
     padding-bottom: 12px;
     margin-bottom: 10px;
}

#start-setting-buttons {
     border-top: 1px solid #c1bfbf;
     padding-top: 10px;
     margin-top: 10px;
}

#btn_cancel, #btn_ok {
     background: white;
     border: 0;
     outline: oldlace;
     color: #867373;
     border: 1px solid #c1bfbf;
     border-radius: 2px;
     padding: 10px 40px;
     margin: 0px 5px;
     transition: all 500ms;
}

#main-window-box {
     background: white;
     font-family: Arial, Helvetica, sans-serif;
}

#main-window-controls {
     background-color: white;
     padding: 5px;
}

#button-renew, #button-quit {
     background: white;
     border: 0;
     outline: oldlace;
     color: #867373;
     border: 1px solid #c1bfbf;
     border-radius: 0px;
     transition: all 500ms;
     margin: 0px 2px;
}

#main-window-list {
     background-color: #f5f5f5;
     background-image: linear-gradient(to right bottom, rgba(255,255,255,0) 8px, #fff 9px, rgba(255,255,255,0) 10px),linear-gradient(to left bottom, rgba(255,255,255,0) 8px, #fff 9px, rgba(255,255,255,0) 10px);
     background-repeat: repeat;
     background-size: 12px 14px, 12px 14px, 12px 11px;
     background-position: 0 0, 0 0, 0 20px;

     margin: 0px;
     padding: 5px;

     box-shadow: inset 0px 0px 6px -4px rgb(148, 148, 148);
}

#main-window-status {
     background-color: white;
     padding: 5px 10px;
     color: rgb(143, 143, 143);
     font-size: 13px;

     box-shadow: inset -60px 0px 0px 0px #b0e2d9;
}

#main-window-hint {

}

#login-entry:focus, 
#password-entry:focus, 
#connection-address-entry:focus, 
#connection-port-entry:focus, 
#domain-entry:focus,
#connect-button:focus,
#btn_cancel:focus, 
#btn_ok:focus,
#button-renew:focus,
#button-quit:focus {
     border: 1px solid #2b9c89;
     background: #f3f4f6;
     transition: all 200ms;
}

#connect-button:hover,
#btn_cancel:hover, 
#btn_ok:hover {
     color: white;
     background: #3f606b;
     transition: all 200ms;
     border: 1px solid white;
}

#button-renew:hover,
#button-quit:hover {
     color: black;
     background: white;
     transition: all 200ms;
     border: 1px solid #3f606b;
}

#vdi_pool_widget_box {
     margin: 3px 0px;
}

#vdi_pool_widget_button {
     background: white;
     border: 0;
}

#vdi_pool_widget_image {
     background: white;
     border: 0;
     padding: 20px 10px;
}